@page "/enrollments"

@attribute [Authorize]
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using ScholarshipManagement.DTOs
@using ScholarshipManagement.DTOs.Common
@using ScholarshipManagement.DTOs.Ngo
@using ScholarshipManagement.DTOs.School.Students
@using ScholarshipManagement.DTOs.University.CourseRequirement
@using ScholarshipManagement.DTOs.University.MasterDocuments
@using ScholarshipManagement.DTOs.University.MasterUniversity
@using ScholarshipManagement.Helper.Enums
@using ScholarshipManagement.Pages.Common
@using ScholarshipManagement.Pages.Common.Shared
@using ScholarshipManagement.Pages.Ngo
@using ScholarshipManagement.Services.Common
@using ScholarshipManagement.Services.Ngo
@using ScholarshipManagement.Services.SuperAdmin
@using ScholarshipManagement.Services.University
@using static ScholarshipManagement.Helper.Constant
@inject CurrentUserProfileService CurrentUserProfileService
@inject CourseRequirementService CourseRequirementService
@inject UniversityService UniversityService
@inject UniversityDocumentService UniversityDocumentService
@inject PermissionService PermissionService
@inject ApprovalService ApprovalService
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject AuthService AuthService


<div class="container-fluid p-0" style="width:100%; overflow-x:hidden;">

    <!-- Page Top Section (Header area) -->
    <div style="display: flex; flex-direction: column; align-items: center; align-self: stretch;">

        <!-- Section Title Bar (under Page Top) -->
        <div style="display: flex; height: 64px; justify-content: space-between; align-items: center;
                    align-self: stretch; border-bottom: 1px solid var(--color-border-horizontal-lines, #DBDBDB);
                    background: var(--color-background-main, #FFF);">

            <!-- Left Section (Inside Page Title Bar) -->
            <div style="display: flex; height: 64px; padding: 0 26px; align-items: center;">

                <div style="display: flex; align-items: center;">
                    <span class="page-title page-title-uppercase">
                        Enrollments
                    </span>
                </div>

            </div>

            <!-- Right Section (Inside Page Title Bar) -->
            <div style="display: flex; padding: 0 24px; justify-content: flex-end; align-items: center; gap: 14px;">
                <span class="meta-text">
                    Total Records : <span id="totalRecords">@TotalRecords</span>
                </span>
            </div>

        </div>

    </div>

    <!-- Search -->
    <div style="margin-top:15px; display: flex; height: 64px; justify-content: space-between; align-items: center;
                    align-self: stretch; background: var(--color-background-main, #FFF); margin-bottom:10px;">

        <!-- Left -->
        <div class="d-flex align-items-center gap-3" style="padding: 0 24px;">

            <!-- Name FILTER -->
            @if(CurrentStaffType != StaffType.University)
            {
                <div class="appbar-search dropdown-filter">

                    <label class="filter-label">University : </label>

                    <MudSelect T="long?"
                               Value="SelectedUniversityId"
                               ValueChanged="OnUniversityChanged"
                               Placeholder="University"
                               Variant="Variant.Text"
                               Dense="true"
                               DisableUnderline="true"
                               Clearable="true"
                               Class="dropdown-select">

                        @foreach (var c in Universities)
                        {
                            <MudSelectItem T="long?" Value="@c.UniversityId">
                                @c.UniversityName
                            </MudSelectItem>
                        }

                    </MudSelect>

                </div>
            }

            <div class="appbar-search">


                <input type="text" class="search-input" placeholder="Search..."
                       value="@_search" @oninput="e => _search = e.Value?.ToString() ?? string.Empty"
                       @onkeydown="HandleKeyDown" />


                @if (_searchApplied)
                {
                    <button type="button"
                            class="clear-search-btn"
                            @onclick="ClearSearch">
                        ✕
                    </button>
                }
                else
                {
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         stroke-width="1.5" class="search-icon" style="cursor:pointer"
                         @onclick="ApplySearch">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21 21l-4.35-4.35M17 10.5a6.5 6.5 0 1 1-13 0a6.5 6.5 0 0 1 13 0Z" />
                    </svg>
                }
            </div>
        </div>


        <!-- Right-->
        <div style="display: flex; padding: 0 24px; justify-content: flex-end; align-items: center; gap: 10px;position: relative;">

            <div style="display: flex; align-items: center; gap: 5px; font-family: Inter, sans-serif; font-size: 13px;">

                @* @if (CurrentStaffType != StaffType.School)
                {
                    @if (canAdd)
                    {
                        <button @onclick="AddCourseReq" class="add-btn">Add Req</button>
                    }
                } *@

            </div>


            <button class="settings-btn" @onclick="ToggleColumnsPopup" id="toggleBtn">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="settings-icon">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a7.723 7.723 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47 6.47 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z" />
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
            </button>


            @if (showColumnsPopup)
            {
                <div @onclick="ClosePopup"
                     style="position: fixed; inset: 0; background: transparent; z-index: 9999;">
                </div>
            }


            <div id="columnsPopup" style="position: absolute; right: 24px; top: 70px; z-index: 10000;
                              background: #fff; border: 1px solid #dbdbdb; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.08);
                              padding: 12px; width: 280px; font-family: Inter, sans-serif;" hidden="@(!showColumnsPopup)">

                <!-- Header -->
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px;">
                    <div style="font-size: 14px; font-weight: 700; color: #555;">
                        Show/Hide Columns
                    </div>
                    <button @onclick="ToggleColumnsPopup"
                            style="background: none; border: none; color: #555; font-size: 16px; cursor: pointer;">
                        ×
                    </button>
                </div>


                <!-- Checkbox list -->
                <div style="max-height: 300px; overflow-y: auto; padding-right: 6px;">
                    @foreach (var col in allColumns
                                        .Where(c => string.IsNullOrEmpty(columnFilter)
                                        || c.Title.Contains(columnFilter, StringComparison.OrdinalIgnoreCase)))
                    {
                        <div class="checkbox-row">
                            <input type="checkbox"
                                   class="theme-checkbox"
                                   checked="@(col.Hidden == false)"
                                   @onchange="(e) => ToggleColumn(col, (bool)e.Value)" />

                            <label>@col.Title</label>
                        </div>
                    }
                </div>


            </div>


        </div>

    </div>



    <MudPaper Class="pa-4">

        <MudDataGrid T="CourseRequirementEnrollmentDto" @key="GridKey" RowsPerPage="@PageSize" @ref="dataGrid"
                     ColumnsPanelReordering='true' DragDropColumnReordering='true'
                     Hover="true" Bordered="true" Elevation="2" Loading="_loading"
                     Class="blue-hover-grid"
                     Items="Items" FixedHeader="true" Height="550px"
                     ColumnResizeMode="ResizeMode.None" Id="myGrid"
                     Selection="DataGridSelection.Single">

            <Columns>

                <TemplateColumn Title="Course"
                                HeaderClass="fw-bold"
                                Style="min-width:220px"
                                Hideable="true">

                    <CellTemplate Context="ctx">

                        @if (!string.IsNullOrWhiteSpace(ctx.Item.CourseName))
                        {
                            <div class="d-flex align-items-center gap-1 ">
                                @* <MudIcon Icon="@Icons.Material.Filled.AutoStories"
                                         Style="font-size:15px;"
                                         Class="text-muted" /> *@
                                <span class="text-primary fw-medium"
                                      style="cursor:pointer;">
                                    @ctx.Item.CourseName
                                </span>
                            </div>

                            @if (CurrentStaffType == StaffType.Ngo || CurrentStaffType == StaffType.SuperAdmin || CurrentStaffType == StaffType.School)
                            {
                                <div class="d-flex align-items-center gap-1">
                                    @* <MudIcon Icon="@Icons.Material.Filled.AccountBalance"
                                             Style="font-size:15px;"
                                             Class="text-muted" /> *@
                                    <span>@ctx.Item.UniversityName</span>
                                </div>
                            }
                        }
                        else
                        {
                            <span class="text-muted fst-italic small">N/A</span>
                        }

                    </CellTemplate>
                </TemplateColumn>


                <TemplateColumn Title="Documents"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:130px; min-width:130px; max-width:130px;"
                                CellStyle="width:130px; min-width:130px; max-width:130px;"
                                Hideable="true">

                    <CellTemplate Context="ctx">

                        @if (!string.IsNullOrWhiteSpace(ctx.Item.RequiredDocuments))
                        {
                            <MudTooltip>
                                <ChildContent>
                                    <div class="d-flex align-items-center gap-1 text-primary" style="cursor:pointer">
                                        <MudIcon Icon="@Icons.Material.Filled.Description" Style="font-size:15px;" />
                                        <span>View</span>
                                    </div>
                                </ChildContent>

                                <TooltipContent>
                                    @((MarkupString)GetDocumentsHtml(ctx.Item))
                                </TooltipContent>
                            </MudTooltip>
                        }
                        else
                        {
                            <span class="text-muted fst-italic small">None</span>
                        }

                    </CellTemplate>
                </TemplateColumn>


                <TemplateColumn Title="Seats"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:100px; min-width:100px; max-width:100px;"
                                CellStyle="width:100px; min-width:100px; max-width:100px;"
                                Hideable="true">

                    <CellTemplate Context="ctx">
                        @if (ctx.Item.Seats > 0)
                        {
                            <span>@ctx.Item.Seats</span>
                        }
                        else
                        {
                            <span class="text-muted fst-italic small">N/A</span>
                        }
                    </CellTemplate>
                </TemplateColumn>


                <TemplateColumn Title="Year"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:100px; min-width:100px; max-width:100px;"
                                CellStyle="width:100px; min-width:100px; max-width:100px;">

                    <CellTemplate Context="ctx">

                        <span class="d-flex align-items-center">
                            <MudIcon Icon="@Icons.Material.Filled.CalendarMonth"
                                     Style="font-size:17px;"
                                     Class="me-1 text-muted" />

                            @if (!string.IsNullOrWhiteSpace(ctx.Item.AcademicYear))
                            {
                                <span>@ctx.Item.AcademicYear</span>
                            }
                            else
                            {
                                <span class="text-muted fst-italic small">N/A</span>
                            }

                        </span>

                    </CellTemplate>
                </TemplateColumn>


                <TemplateColumn Title="Costs"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:100px; min-width:100px; max-width:100px;"
                                CellStyle="width:100px; min-width:100px; max-width:100px;"
                                Hideable="true">

                    <CellTemplate Context="ctx">

                        @* CHECK IF ANY COST EXISTS *@
                        @if (ctx.Item.TotalCost.HasValue)
                        {
                            <span class="text-muted fst-italic small">@ctx.Item.TotalCost</span>
                        }
                        else
                        {
                            <span class="text-muted fst-italic small">No costs</span>
                        }

                    </CellTemplate>
                </TemplateColumn>


                <TemplateColumn Title="Period"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:180px; min-width:150px; max-width:180px;"
                                CellStyle="width:180px; min-width:150px; max-width:180px;"
                                Hideable="true">

                    <CellTemplate Context="ctx">

                        @if (ctx.Item.ReqStartDate.HasValue && ctx.Item.ReqEndDate.HasValue)
                        {
                            <div class="d-flex flex-column small">

                                <span>
                                    <span style="width:30px;display:inline-block" class="text-muted">Start</span>
                                    @ctx.Item.ReqStartDate.Value.ToString("dd MMM yyyy")
                                </span>

                                <span>
                                    <span style="width:30px;display:inline-block" class="text-muted">End</span>
                                    @ctx.Item.ReqEndDate.Value.ToString("dd MMM yyyy")
                                </span>

                            </div>
                        }
                        else if (ctx.Item.ReqStartDate.HasValue)
                        {
                            <span>
                                <span class="text-muted me-2">Start</span>
                                @ctx.Item.ReqStartDate.Value.ToString("dd MMM yyyy")
                            </span>
                        }
                        else if (ctx.Item.ReqEndDate.HasValue)
                        {
                            <span>
                                <span class="text-muted me-2">End  </span>
                                @ctx.Item.ReqEndDate.Value.ToString("dd MMM yyyy")
                            </span>
                        }
                        else
                        {
                            <span class="text-muted fst-italic small">N/A</span>
                        }

                    </CellTemplate>

                </TemplateColumn>




                <TemplateColumn Title="Total Student"
                                HeaderClass="fw-bold"
                                Style="min-width:140px"
                                CellClass="text-center"
                                HeaderStyle="width:130px; min-width:130px; max-width:130px;"
                                CellStyle="width:130px; min-width:130px; max-width:130px;">

                    <CellTemplate Context="ctx">

                        <MudChip T="int"
                                 Size="Size.Small"
                                 Color="@(ctx.Item.StudentCount == 0 ? Color.Default : Color.Success)"
                                 Variant="@(ctx.Item.StudentCount == 0 ? Variant.Outlined : Variant.Filled)"
                                 Style="min-width:50px; justify-content:center;"
                                 OnClick="@(() => OpenEnrolledStudents(ctx.Item))" Disabled="@(ctx.Item.StudentCount == 0)">

                            <MudTooltip Text="@(ctx.Item.StudentCount == 0 ? "No students available" : "View students")"
                                        Placement="Placement.Top">

                                <span>@ctx.Item.StudentCount</span>

                            </MudTooltip>

                        </MudChip>

                    </CellTemplate>
                </TemplateColumn>


                <!-- Action -->
                @* <TemplateColumn Title="Action"
                                Filterable="false"
                                HeaderClass="text-center fw-bold"
                                CellClass="text-center"
                                HeaderStyle="width:100px; min-width:100px; max-width:100px;"
                                CellStyle="width:100px; min-width:100px; max-width:100px;">

                    <CellTemplate Context="ctx">
                        <div style="display:flex; gap:12px; justify-content:center; align-items:center; height:100%;" class="action-btn">

                            <MudTooltip Text="View Enrolled Students">

                                <MudIconButton Icon="@Icons.Material.Filled.Visibility"
                                               Color="Color.Primary"
                                               Size="Size.Small"
                                               Disabled="ctx.Item.StudentCount == 0"
                                               OnClick="@(() => OpenEnrolledStudents(ctx.Item))" />

                            </MudTooltip>

                        </div>
                    </CellTemplate>

                </TemplateColumn> *@



            </Columns>


            <NoRecordsContent>
                <div class="p-4 d-flex justify-start" style="color:#0080ff; font-weight:600; margin-left:20px;">
                    No data available
                </div>
            </NoRecordsContent>


        </MudDataGrid>

    </MudPaper>


    <!-- 🔹 Pagination -->
    <div class="d-flex align-items-center justify-content-between px-4 mb-3"
         style="height: 50px; background: #fff; margin-top:10px;">

        <!-- Left Side (Empty but keeps even spacing like your layout) -->
        <div style="display: flex; align-items: center; gap: 10px; font-family: Inter, sans-serif; font-size: 13px; margin-right:10px;">
            <label class="me-2">Results per Page:</label>

            <select id="pageSize" class="form-select"
                    style="width: 70px; height: 32px; font-size: 13px; padding: 2px 6px;"
                    @onchange="OnPageSizeChanged">

                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
            </select>
        </div>



        <!-- Center: Custom Pagination (Your Styled UI) -->
        <div class="d-flex align-items-center gap-3">

            <button @onclick="PrevPage" disabled="@IsPrevDisabled" class="pg-btn">◀ PREV</button>

            <span>Page</span>

            <input readonly value="@PageNumber" class="pg-input" />

            <span>of @TotalPages</span>

            <button @onclick="NextPage" disabled="@IsNextDisabled" class="pg-btn">NEXT ▶</button>

        </div>

    </div>

</div>




@code {

    int PageNumber = 1;       // current page
    int PageSize = 25;        // rows per page
    int TotalRecords = 0;     // total records returned by API
    int TotalPages => (int)Math.Ceiling((double)TotalRecords / PageSize); // calculated
    private List<CourseRequirementEnrollmentDto> Items = new();
    private MudDataGrid<CourseRequirementEnrollmentDto>? dataGrid;
    private CourseRequirementFilterDto Filter = new CourseRequirementFilterDto();

    private StaffType? CurrentStaffType;
    bool canView => PermissionService.CanView("course-enrollment");
    bool canAdd => PermissionService.CanInsert("course-enrollment");
    bool canEdit => PermissionService.CanUpdate("course-enrollment");
    bool canDelete => PermissionService.CanDelete("course-enrollment");

    protected override async Task OnInitializedAsync()
    {
        if (!canView)
        {
            Navigation.NavigateTo(Routes.Dashboard);
        }

        var user = CurrentUserProfileService.GetCurrentUserProfile();
        CurrentStaffType = user.StaffType;

        @if (CurrentStaffType == StaffType.University)
        {
            Filter.UniversityId = user.UniversityId;
        }

        await LoadData(Filter);
        await GetDocuments();
        await GetUniversities();
    }


    // global search
    private string _search = "";
    private bool _searchApplied = false;

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ApplySearch();
        }
    }

    private async Task ApplySearch()
    {
        Filter.SearchText = string.IsNullOrWhiteSpace(_search)
            ? null
            : _search.Trim();

        Filter.PageNumber = 1;
        PageNumber = 1;
        _searchApplied = true;

        await LoadData(Filter);
    }

    private async Task ClearSearch()
    {
        _search = string.Empty;
        Filter.SearchText = null;
        Filter.PageNumber = 1;
        PageNumber = 1;
        _searchApplied = false;

        await LoadData(Filter);
    }


    private bool _loading = false;
    private async Task LoadData(CourseRequirementFilterDto filter)
    {
        try
        {
            _loading = true;                 // start loading
            await InvokeAsync(StateHasChanged); // refresh UI immediately if needed

            var result = await CourseRequirementService.GetEnrollmentsAsync(filter);

            if (result.Response.Success)
            {
                // Data already deserialized in service
                Items = result.Data.Items;
                TotalRecords = result.Data.TotalCount;
            }
            else
            {
                // Always show backend message
                Items = result.Data.Items;
                Snackbar.Add(result.Response.Message, Severity.Error);
            }

        }
        finally
        {
            _loading = false;                // finished loading
            await InvokeAsync(StateHasChanged); // update UI
        }
    }


    // for drop down
    private int GridKey = 1;
    private async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        if (!int.TryParse(e.Value?.ToString(), out var newSize))
            return;

        PageNumber = 1;
        PageSize = newSize;

        GridKey++;  // <<<<< IMPORTANT (forces new DataGrid instance)

        if (dataGrid is null)
            return;   //  Prevents the crash

        Filter.PageSize = PageSize;
        Filter.PageNumber = PageNumber;
        await LoadData(Filter);

        StateHasChanged();
    }


    // hide / show coloumns
    private bool showColumnsPopup = false;
    private string columnFilter = "";
    private List<Column<CourseRequirementEnrollmentDto>> allColumns = new();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (dataGrid is null)
                return;   //  Prevents the crash

            allColumns = dataGrid.RenderedColumns.ToList();
            StateHasChanged();
        }
    }

    private void ToggleColumnsPopup()
    {
        showColumnsPopup = !showColumnsPopup;
    }

    private void ClosePopup()
    {
        showColumnsPopup = false;
    }

    private async Task ToggleColumn(Column<CourseRequirementEnrollmentDto> col, bool makeVisible)
    {
        if (makeVisible)
            await col.ShowAsync();
        else
            await col.HideAsync();

        //col.Hidden = makeVisible;   // sync checkbox state
        StateHasChanged();
    }


    // pagination btns
    bool IsPrevDisabled => PageNumber <= 1;
    private async Task PrevPage()
    {
        if (PageNumber > 1)
        {
            PageNumber--;
            Filter.PageNumber = PageNumber;
            await LoadData(Filter);
        }
    }

    bool IsNextDisabled => PageNumber >= TotalPages;
    private async Task NextPage()
    {
        if (PageNumber < TotalPages)
        {
            PageNumber++;
            Filter.PageNumber = PageNumber;
            await LoadData(Filter);
        }
    }


    private List<UniversityDocumentRequestDto> Documents = new();
    private async Task GetDocuments()
    {
        var result = await UniversityDocumentService.GetMasterUniversityDocuments(new UniversityDocumentFilterDto
        {
            PageNumber = 1,
            PageSize = 0,
            IsActive = true,
        });


        if (result.Response.Success)
        {
            Documents = result.Data.Items;
        }
        else
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
        }
        await InvokeAsync(StateHasChanged);
    }


    private string GetDocumentsHtml(CourseRequirementEnrollmentDto dto)
    {
        if (string.IsNullOrWhiteSpace(dto.RequiredDocuments))
            return "";

        var ids = dto.RequiredDocuments
            .Split(',', StringSplitOptions.RemoveEmptyEntries)
            .Select(long.Parse)
            .ToHashSet();

        var names = Documents
            .Where(d => d.UniversityDocsId.HasValue &&
                        ids.Contains(d.UniversityDocsId.Value))
            .Select(d => d.DocumentName);

        var listItems = string.Join("", names.Select(n => $"<li>{n}</li>"));


        return $"<ul style='margin-top:6px;margin-bottom:0;padding-left:16px;text-align:left'>{listItems}</ul>";
    }



    void OpenEnrolledStudents(CourseRequirementEnrollmentDto dto)
    {
         Navigation.NavigateTo(Routes.EnrolledStudentsByReqId.Replace("{reqId}", dto.ReqId.ToString()));
        // Navigation.NavigateTo(Routes.EnrolledStudents);
    }



    private List<UniversityRequestDto> Universities = new();
    private async Task GetUniversities()
    {
        var result = await UniversityService.GetMasterUniversity(new UniversityFilterDto
        {
            PageNumber = 1,
            PageSize = 0,
            IsActive = true,
			IsApproved = true,
        });


        if (result.Response.Success)
        {
            Universities = result.Data.Items;
        }
        else
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
        }
        await InvokeAsync(StateHasChanged);
    }


    private long? SelectedUniversityId { get; set; } = null;

    private async Task OnUniversityChanged(long? universityId)
    {
        SelectedUniversityId = universityId;
        if (SelectedUniversityId.HasValue)
        {
            Filter.UniversityId = SelectedUniversityId.Value;
            await LoadData(Filter);
        }
        else
        {
            SelectedUniversityId = null;
            Filter.UniversityId = null;
            await LoadData(Filter);
        }

    }




}
