@page "/role-pages"

@attribute [Authorize]
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using ScholarshipManagement.DTOs
@using ScholarshipManagement.DTOs.Common
@using ScholarshipManagement.DTOs.Common.HrStaff
@using ScholarshipManagement.DTOs.SuperAdmin.UsersRole
@using ScholarshipManagement.DTOs.SuperAdmin.UsersRolePage
@using ScholarshipManagement.Helper.Enums
@using ScholarshipManagement.Pages.Common
@using ScholarshipManagement.Pages.Common.Shared
@using ScholarshipManagement.Services.Common
@using ScholarshipManagement.Services.SuperAdmin
@using static ScholarshipManagement.Helper.Constant
@inject CommonService CommonService
@inject CurrentUserProfileService CurrentUserProfileService
@inject PermissionService PermissionService
@inject UsersRoleService UsersRoleService
@inject UsersRolePagesService UsersRolePagesService
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject ISnackbar Snackbar


<style>
    .section-header {
        font-weight: 600;
        color: #0f172a;
    }

    .arrow {
        font-size: 12px;
        color: #64748b;
    }
</style>


<div class="container-fluid p-0" style="width:100%; overflow-x:hidden;">

    <!-- Page Top Section (Header area) -->
    <div style="display: flex; flex-direction: column; align-items: center; align-self: stretch;">

        <!-- Section Title Bar (under Page Top) -->
        <div style="display: flex; height: 64px; justify-content: space-between; align-items: center;
                    align-self: stretch; border-bottom: 1px solid var(--color-border-horizontal-lines, #DBDBDB);
                    background: var(--color-background-main, #FFF);">

            <!-- Left Section (Inside Page Title Bar) -->
            <div style="display: flex; height: 64px; padding: 0 26px; align-items: center;">

                <div style="display: flex; align-items: center;">
                    <span class="page-title page-title-uppercase">
                        Users Roles Pages
                    </span>
                </div>

            </div>

            <!-- Right Section (Inside Page Title Bar) -->
            <div style="display: flex; padding: 0 24px; justify-content: flex-end; align-items: center; gap: 14px;">
                <span class="meta-text">
                    Total Records : <span id="totalRecords">@TotalRecords</span>
                </span>
            </div>

        </div>

    </div>

    <!-- Search -->
    <div style="margin-top:15px; display: flex; height: 64px; justify-content: space-between; align-items: center;
                    align-self: stretch; background: var(--color-background-main, #FFF); margin-bottom:10px;">

        <!-- Left -->

        <div class="d-flex align-items-center gap-3" style="padding: 0 24px;">

            <!-- MODULE FILTER -->
            <div class="appbar-search dropdown-filter">
                
                <label class="filter-label">Module : </label>
               
                <MudSelect T="long?"
                           Value="SelectedModuleId"
                           ValueChanged="OnModuleChanged" 
                           Placeholder="Module"
                           Variant="Variant.Text"
                           Dense="true"
                           DisableUnderline="true"
                           Clearable="true"
                           Class="dropdown-select">

                    @foreach (var m in UsersModule)
                    {
                        <MudSelectItem T="long?" Value="@m.ModuleId">
                            @m.ModuleName
                        </MudSelectItem>
                    }

                </MudSelect>

            </div>

            <div class="appbar-search dropdown-filter">
                
                <label class="filter-label">Role : </label>
                
                <MudSelect T="long?"
                           Value="SelectedRoleId"
                           ValueChanged="OnRoleChanged"
                           Placeholder="Role"
                           Variant="Variant.Text"
                           Dense="true"
                           DisableUnderline="true"
                           Disabled="@(SelectedModuleId == null || SelectedModuleId == 0)"
                           Clearable="true"
                           Class="dropdown-select">

                    @foreach (var m in UsersRole)
                    {
                        <MudSelectItem T="long?" Value="@m.RoleId">
                            @m.RoleName
                        </MudSelectItem>
                    }

                </MudSelect>

            </div>


        </div>

        <!-- Right-->
        <div style="display: flex; padding: 0 24px; justify-content: flex-end; align-items: center; gap: 10px;position: relative;">

            <div style="display: flex; align-items: center; gap: 5px; font-family: Inter, sans-serif; font-size: 13px;">           
                <button @onclick="SaveRolesPermissions" class="add-btn">Save</button>
            </div>


            <button class="settings-btn" @onclick="ToggleColumnsPopup" id="toggleBtn">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="settings-icon">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a7.723 7.723 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47 6.47 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z" />
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
            </button>


            @if (showColumnsPopup)
            {
                <div @onclick="ClosePopup"
                     style="position: fixed; inset: 0; background: transparent; z-index: 9999;">
                </div>
            }


            <div id="columnsPopup" style="position: absolute; right: 24px; top: 70px; z-index: 10000;
                              background: #fff; border: 1px solid #dbdbdb; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.08);
                              padding: 12px; width: 280px; font-family: Inter, sans-serif;" hidden="@(!showColumnsPopup)">

                <!-- Header -->
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px;">
                    <div style="font-size: 14px; font-weight: 700; color: #555;">
                        Show/Hide Columns
                    </div>
                    <button @onclick="ToggleColumnsPopup"
                            style="background: none; border: none; color: #555; font-size: 16px; cursor: pointer;">
                        ×
                    </button>
                </div>


                <!-- Checkbox list -->
                <div style="max-height: 300px; overflow-y: auto; padding-right: 6px;">
                    @foreach (var col in allColumns
                                        .Where(c => string.IsNullOrEmpty(columnFilter)
                                        || c.Title.Contains(columnFilter, StringComparison.OrdinalIgnoreCase)))
                    {
                        <div class="checkbox-row">
                            <input type="checkbox"
                                   class="theme-checkbox"
                                   checked="@(col.Hidden == false)"
                                   @onchange="(e) => ToggleColumn(col, (bool)e.Value)" />

                            <label>@col.Title</label>
                        </div>
                    }
                </div>


            </div>


        </div>

    </div>

    <MudPaper Class="pa-4">

        <MudDataGrid T="RolePagePermissionDto" @key="GridKey" @ref="dataGrid"
                     ColumnsPanelReordering='true' DragDropColumnReordering='true'
                     Hover="true" Bordered="true" Elevation="2" Loading="_loading"
                     Class="blue-hover-grid" Filterable="true"
                     Items="Items" FixedHeader="true" Virtualize="true" Height="550px"
                     ColumnResizeMode="ResizeMode.None" Id="myGrid" RowClick="OnRowClick"
                     @bind-SelectedItem="SelectedUsersRolePage"
                     Selection="DataGridSelection.Single"
                     RowClassFunc="GetRowClass">

            <Columns>


                <TemplateColumn Title="Page"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:280px; min-width:230px; max-width:300px;"
                                CellStyle="width:280px; min-width:230px; max-width:300px;"
                                Hideable="true">

                    <CellTemplate Context="ctx">

                        @if (!string.IsNullOrWhiteSpace(ctx.Item.PageHeading))
                        {
                            <div class="d-flex flex-column"
                                 style="max-width:240px;">

                                <!-- LEVEL 0 (SECTION HEADER) -->
                                @if (ctx.Item.LevelNo == 0)
                                {
                                    <span class="section-header">
                                        @ctx.Item.PageHeading
                                    </span>
                                }
                                else
                                {
                                    <!-- CHILD ITEM -->
                                    <div style="padding-left:@(ctx.Item.LevelNo * 18)px"
                                         class="d-flex align-center gap-1">

                                        <span class="arrow">→</span>

                                        <span class="fw-semibold text-truncate"
                                              style="max-width:200px;">
                                            @ctx.Item.PageHeading
                                        </span>
                                    </div>
                                }

                                <!-- PATH -->
                                @if (!string.IsNullOrWhiteSpace(ctx.Item.PagePath) && ctx.Item.LevelNo > 0)
                                {
                                    <span class="text-muted small text-truncate"
                                          style="margin-left:@(ctx.Item.LevelNo * 18 + 14)px; max-width:200px;">
                                        @ctx.Item.PagePath
                                    </span>
                                }

                            </div>
                        }
                        else
                        {
                            <span class="text-muted fst-italic small">N/A</span>
                        }

                    </CellTemplate>
                
                </TemplateColumn>





                <TemplateColumn Title="Module"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:150px; min-width:150px; max-width:150px;"
                                CellStyle="width:150px; min-width:150px; max-width:150px;"
                                Hideable="true">

                    <CellTemplate Context="ctx">

                        <MudChip Size="Size.Small"
                                 Variant="Variant.Outlined"
                                 Color="Color.Success"
                                 Style="min-width:100px; justify-content:center;">
                            @ctx.Item.Module
                        </MudChip>

                    </CellTemplate>
                </TemplateColumn>


                <TemplateColumn Title="View"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:130px;"
                                CellStyle="width:130px;">

                    <HeaderTemplate>
                        <div class="d-flex align-center gap-1">
                            <span>View</span>

                            <MudCheckBox T="bool"
                                         Value="@IsAllViewSelected"
                                         ValueChanged="ToggleAllView"
                                         Size="Size.Small" />
                        </div>
                    </HeaderTemplate>

                    <CellTemplate Context="ctx">

                        <MudCheckBox T="bool"
                                     Value="ctx.Item.ViewPer"
                                     ValueChanged="@((bool value) => OnViewChanged(ctx.Item, value))"
                                     Color="Color.Info"
                                     Dense="true" Size="Size.Small" />

                    </CellTemplate>

                </TemplateColumn>


                <TemplateColumn Title="Insert"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:130px;"
                                CellStyle="width:130px;">

                    <HeaderTemplate>
                        <div class="d-flex align-center gap-1">
                            <span>View</span>

                            <MudCheckBox T="bool"
                                         Value="@IsAllInsertSelected"
                                         ValueChanged="ToggleAllInssert"
                                         Size="Size.Small" />
                        </div>
                    </HeaderTemplate>

                    <CellTemplate Context="ctx">

                        <MudCheckBox T="bool"
                                     Value="ctx.Item.InsertPer"
                                     ValueChanged="@((bool value) => OnInsertChanged(ctx.Item, value))"
                                     Color="Color.Info"
                                     Dense="true" Size="Size.Small" />

                    </CellTemplate>

                </TemplateColumn>


                <TemplateColumn Title="Update"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:130px;"
                                CellStyle="width:130px;">


                    <HeaderTemplate>
                        <div class="d-flex align-center gap-1">
                            <span>View</span>

                            <MudCheckBox T="bool"
                                         Value="@IsAllUpdateSelected"
                                         ValueChanged="ToggleAllUpdate"
                                         Size="Size.Small" />
                        </div>
                    </HeaderTemplate>

                    <CellTemplate Context="ctx">

                        <MudCheckBox T="bool"
                                     Value="ctx.Item.UpdatePer"
                                     ValueChanged="@((bool value) => OnUpdateChanged(ctx.Item, value))"
                                     Color="Color.Info"
                                     Dense="true" Size="Size.Small" />

                    </CellTemplate>

                </TemplateColumn>


                <TemplateColumn Title="Delete"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:130px;"
                                CellStyle="width:130px;">


                    <HeaderTemplate>
                        <div class="d-flex align-center gap-1">
                            <span>View</span>

                            <MudCheckBox T="bool"
                                         Value="@IsAllDeleteSelected"
                                         ValueChanged="ToggleAllDelete"
                                         Size="Size.Small" />
                        </div>
                    </HeaderTemplate>

                    <CellTemplate Context="ctx">

                        <MudCheckBox T="bool"
                                     Value="ctx.Item.DeletePer"
                                     ValueChanged="@((bool value) => OnDeleteChanged(ctx.Item, value))"
                                     Color="Color.Info"
                                     Dense="true" Size="Size.Small" />

                    </CellTemplate>

                </TemplateColumn>

            </Columns>


            <NoRecordsContent>
                <div class="p-4 d-flex justify-start" style="color:#0080ff; font-weight:600; margin-left:20px;">
                    No data available
                </div>
            </NoRecordsContent>


        </MudDataGrid>

    </MudPaper>


    <!-- 🔹 Pagination -->
    <div class="d-flex align-items-center justify-content-between px-4 mb-3"
         style="height: 50px; background: #fff; margin-top:10px;">

        <!-- Left Side (Empty but keeps even spacing like your layout) -->
        <div style="display: flex; align-items: center; gap: 10px; font-family: Inter, sans-serif; font-size: 13px; margin-right:10px;">
            <label class="me-2">Results per Page:</label>

            <select id="pageSize" class="form-select"
                    style="width: 70px; height: 32px; font-size: 13px; padding: 2px 6px;"
                    @onchange="OnPageSizeChanged">

                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
            </select>
        </div>



        <!-- Center: Custom Pagination (Your Styled UI) -->
        <div class="d-flex align-items-center gap-3">

            <button @onclick="PrevPage" disabled="@IsPrevDisabled" class="pg-btn">◀ PREV</button>

            <span>Page</span>

            <input readonly value="@PageNumber" class="pg-input" />

            <span>of @TotalPages</span>

            <button @onclick="NextPage" disabled="@IsNextDisabled" class="pg-btn">NEXT ▶</button>

        </div>

    </div>

</div>





@code {

    int PageNumber = 1;       // current page
    int PageSize = 0;        // rows per page
    int TotalRecords = 1;     // total records returned by API
    int TotalPages => (int)Math.Ceiling((double)TotalRecords / TotalRecords); // calculated
    private List<RolePagePermissionDto> Items = new();
    private MudDataGrid<RolePagePermissionDto>? dataGrid;
    private UsersRolePageFilterDto Filter = new UsersRolePageFilterDto();

    private StaffType? CurrentStaffType;
    bool canView => PermissionService.CanView("rolepermissions");
    bool canAdd => PermissionService.CanInsert("rolepermissions");
    bool canEdit => PermissionService.CanUpdate("rolepermissions");
    bool canDelete => PermissionService.CanDelete("rolepermissions");

    protected override async Task OnInitializedAsync()
    {
        if (!canView)
        {
            Navigation.NavigateTo(Routes.Dashboard);
        }

        var user = CurrentUserProfileService.GetCurrentUserProfile();
        CurrentStaffType = user.StaffType;

        //await LoadData(Filter);
        await GetUsersModule();
    }


    private bool _loading = false;
    private async Task LoadData(UsersRolePageFilterDto filter)
    {
        try
        {
            _loading = true;                 // start loading
            await InvokeAsync(StateHasChanged); // refresh UI immediately if needed

            filter.PageSize = 0;
            filter.PageNumber = 1;
            var result = await UsersRolePagesService.GetRolePermissions(filter);

            if (result.Response.Success)
            {
                // Data already deserialized in service
                Items = result.Data.Items;
                TotalRecords = result.Data.TotalCount;


                foreach (var item in Items)
                {
                    item.OriginalViewPer = item.ViewPer;
                    item.OriginalInsertPer = item.InsertPer;
                    item.OriginalUpdatePer = item.UpdatePer;
                    item.OriginalDeletePer = item.DeletePer;
                }

            }
            else
            {
                // Always show backend message
                Items = result.Data.Items;
                Snackbar.Add(result.Response.Message, Severity.Error);
            }

        }
        finally
        {
            _loading = false;                // finished loading
            await InvokeAsync(StateHasChanged); // update UI
        }
    }


    private int GridKey = 1;
    private async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        if (!int.TryParse(e.Value?.ToString(), out var newSize))
            return;

        PageNumber = 1;
        PageSize = newSize;

        GridKey++;  // <<<<< IMPORTANT (forces new DataGrid instance)

        if (dataGrid is null)
            return;   //  Prevents the crash

        Filter.PageSize = PageSize;
        Filter.PageNumber = PageNumber;
        await LoadData(Filter);

        StateHasChanged();
    }


    // hide / show coloumns
    private bool showColumnsPopup = false;
    private string columnFilter = "";
    private List<Column<RolePagePermissionDto>> allColumns = new();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (dataGrid is null)
                return;   //  Prevents the crash

            allColumns = dataGrid.RenderedColumns.ToList();
            StateHasChanged();
        }
    }

    private void ToggleColumnsPopup()
    {
        showColumnsPopup = !showColumnsPopup;
    }

    private void ClosePopup()
    {
        showColumnsPopup = false;
    }

    private async Task ToggleColumn(Column<RolePagePermissionDto> col, bool makeVisible)
    {
        if (makeVisible)
            await col.ShowAsync();
        else
            await col.HideAsync();

        //col.Hidden = makeVisible;   // sync checkbox state
        StateHasChanged();
    }


    // pagination btns
    bool IsPrevDisabled => PageNumber <= 1;
    private async Task PrevPage()
    {
        if (PageNumber > 1)
        {
            PageNumber--;
            Filter.PageNumber = PageNumber;
            await LoadData(Filter);
        }
    }

    bool IsNextDisabled => PageNumber >= TotalPages;
    private async Task NextPage()
    {
        if (PageNumber < TotalPages)
        {
            PageNumber++;
            Filter.PageNumber = PageNumber;
            await LoadData(Filter);
        }
    }


    // row selection --
    private RolePagePermissionDto? SelectedUsersRolePage;


    private string GetRowClass(RolePagePermissionDto menu, int rowNumber)
    {
        // selected-row
        return menu == SelectedUsersRolePage ? "" : "";
    }


    private void OnRowClick(DataGridRowClickEventArgs<RolePagePermissionDto> args)
    {
        StateHasChanged();
    }


    private async Task EditUsersRolePages(UsersRolePageRequestDto role)
    {
        var parameters = new DialogParameters
        {
            {
                "RolePage",
                new UsersRolePageRequestDto
                {
                    RoleFormId = role.RoleFormId,
                    RoleId = role.RoleId,
                    RoleName = role.RoleName,
                    MenuLinkId = role.MenuLinkId,
                    PageHeading = role.PageHeading,
                    PagePath = role.PagePath,
                    InsertPer = role.InsertPer,
                    UpdatePer = role.UpdatePer,
                    DeletePer = role.DeletePer,
                    ViewPer = role.ViewPer,
                    CreatedBy = role.CreatedBy,
                    CreatedDate = role.CreatedDate
                }
            } // label model for edit
        };

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        };

        var dialog = await DialogService.ShowAsync<UsersRolePagesDialog>("Edit Users Role Page", parameters, options);

        var result = await dialog.Result;

        // Reload only if Save was successful
        if (result is not null && !result.Canceled)
        {
            PageNumber = 1;
            PageSize = 25;
            var filter = new UsersRolePageFilterDto();
            await LoadData(filter);   // your grid reload method
        }
    }


    private async Task DeleteUsersRolePages(UsersRolePageRequestDto role)
    {
        var parameters = new DialogParameters
        {
            { "Message", $"Are you sure you want to delete '{role.RoleName}'?" }
        };

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>("Confirm Delete", parameters, options);
        var result = await dialog.Result;

        if (result != null && !result.Canceled && role.RoleFormId.HasValue)
        {
            var response = await UsersRolePagesService.DeleteUsersRolePage(role.RoleFormId.Value);

            Snackbar.Add(
                response.Message,
                response.Success ? Severity.Success : Severity.Error
            );

            if (response.Success)
            {
                PageNumber = 1;
                PageSize = 25;
                var filter = new UsersRolePageFilterDto();
                await LoadData(filter);
            }
        }
    }


    private async Task AddUsersRolePages()
    {
        var parameters = new DialogParameters
        {
            { "RolePage", new UsersRolePageRequestDto() } // empty model for ADD
        };

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        };

        var dialog = await DialogService.ShowAsync<UsersRolePagesDialog>("Add Users Role Page", parameters, options);

        var result = await dialog.Result;

        // Reload only if Save was successful
        if (result is not null && !result.Canceled)
        {
            PageNumber = 1;
            PageSize = 25;
            var filter = new UsersRolePageFilterDto();
            await LoadData(filter);   // your grid reload method
        }
    }


    void NavigateToMenu(long menuId)
    {
        // Navigation or detail page
    }


    void ExportData()
    {

    }



    private List<UsersModuleDto> UsersModule = new();
    private long? SelectedModuleId { get; set; } = null;

    private async Task GetUsersModule()
    {
        var result = await CommonService.GetAllUsersModule();

        // if your CommonService already returns ApiResponseDto
        if (result.Response.Success)
        {
            UsersModule = result.Data ?? new List<UsersModuleDto>();
        }
        else
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
        }
        await InvokeAsync(StateHasChanged);
    }


    private async Task OnModuleChanged(long? moduleId)
    {
        SelectedModuleId = moduleId;

        if (SelectedModuleId.HasValue)
        {
            await GetUsersRole(SelectedModuleId.Value);
        }
        else
        {
            SelectedModuleId = null;
            SelectedRoleId = null;
            Items.Clear();
        }

    }


    private List<UsersRoleRequestDto> UsersRole = new();
    private long? SelectedRoleId { get; set; } = null;

    private async Task GetUsersRole(long moduleId)
    {
        var result = await UsersRoleService.GetUsersRole(new UsersRoleFilterDto
        {
            PageNumber = 1,
            PageSize = 0,
            ModuleId = moduleId
        });

        // if your UsersRoleService already returns ApiResponseDto
        if (result.Response.Success)
        {
            UsersRole = result.Data.Items;
        }
        else
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
        }
        await InvokeAsync(StateHasChanged);
    }


    private async Task OnRoleChanged(long? roleId)
    {
        SelectedRoleId = roleId;
        
        if (SelectedRoleId.HasValue)
        {
            var filter = new UsersRolePageFilterDto
            {
                RoleId = roleId
            };

            await LoadData(filter);
        }
        else
        {
            SelectedRoleId = null;
            Items.Clear();
        }
    }



    private void OnViewChanged(RolePagePermissionDto item, bool value)
    {
        item.ViewPer = value;
    }

    private void OnInsertChanged(RolePagePermissionDto item, bool value)
    {
        item.InsertPer = value;
    }

    private void OnUpdateChanged(RolePagePermissionDto item, bool value)
    {
        item.UpdatePer = value;
    }

    private void OnDeleteChanged(RolePagePermissionDto item, bool value)
    {
        item.DeletePer = value;
    }


    private async Task SaveRolesPermissions()
    {
        if (!SelectedRoleId.HasValue)
        {
            Snackbar.Add("Please select a role to allow permissions.", Severity.Warning);
            return;
        };

        var dto = new RolePermissionBulkSaveDto
        {
            RoleId = SelectedRoleId.Value,
            Permissions = Items
        };

        var response = await UsersRolePagesService.BulkSaveRolePermissionsAsync(dto);

        Snackbar.Add(
            response.Message,
            response.Success ? Severity.Success : Severity.Error
        );


        if (response.Success)
        {
            PageNumber = 1;
            PageSize = 25;
            var filter = new UsersRolePageFilterDto();
            filter.RoleId = SelectedRoleId.Value;
            await LoadData(filter);
        }

    }




    bool IsAllViewSelected =>
        Items.All(x => x.ViewPer);

    void ToggleAllView(bool value)
    {
        foreach (var item in Items)
        {
            if (value)
            {
                OnViewChanged(item, true);
            }
            else
            {
                // only uncheck newly selected ones
                if (!item.OriginalViewPer)
                    OnViewChanged(item, false);
            }
        }
    }

    bool IsAllInsertSelected =>
        Items.All(x => x.InsertPer);

    void ToggleAllInssert(bool value)
    {
        foreach (var item in Items)
        {
            if (value)
            {
                OnInsertChanged(item, true);
            }
            else
            {
                // only uncheck newly selected ones
                if (!item.OriginalInsertPer)
                    OnInsertChanged(item, false);
            }
        }
    }

    bool IsAllUpdateSelected =>
    Items.All(x => x.UpdatePer);

    void ToggleAllUpdate(bool value)
    {
        foreach (var item in Items)
        {
            if (value)
            {
                OnUpdateChanged(item, true);
            }
            else
            {
                // only uncheck newly selected ones
                if (!item.OriginalUpdatePer)
                    OnUpdateChanged(item, false);
            }
        }
    }

    bool IsAllDeleteSelected =>
        Items.All(x => x.DeletePer);

    void ToggleAllDelete(bool value)
    {
        foreach (var item in Items)
        {
            if (value)
            {
                OnDeleteChanged(item, true);
            }
            else
            {
                // only uncheck newly selected ones
                if (!item.OriginalDeletePer)
                    OnDeleteChanged(item, false);
            }
        }
    }

    // private void OnViewChanged(RolePagePermissionDto item, bool value)
    // {
    //     item.ViewPer = value;

    //     if (!value)
    //     {
    //         item.InsertPer = false;
    //         item.UpdatePer = false;
    //         item.DeletePer = false;
    //     }
    // }

    // private void OnInsertChanged(RolePagePermissionDto item, bool value)
    // {
    //     item.InsertPer = value;

    //     if (value)
    //         item.ViewPer = true;
    // }

    // private void OnUpdateChanged(RolePagePermissionDto item, bool value)
    // {
    //     item.UpdatePer = value;

    //     if (value)
    //         item.ViewPer = true;
    // }

    // private void OnDeleteChanged(RolePagePermissionDto item, bool value)
    // {
    //     item.DeletePer = value;

    //     if (value)
    //         item.ViewPer = true;
    // }


    @*   <TemplateColumn Title="Page"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:280px; min-width:230px; max-width:300px;"
                                CellStyle="width:280px; min-width:230px; max-width:300px;"
                                Hideable="true">

                    <CellTemplate Context="ctx">

                        @if (!string.IsNullOrWhiteSpace(ctx.Item.PageHeading) ||
                                                !string.IsNullOrWhiteSpace(ctx.Item.PagePath))
                        {
                           

                            <div class="d-flex flex-column"
                                 style="max-width:240px; cursor:default;">

                                <!-- Page heading -->
                                <div class="d-flex align-items-center gap-1">

                                    <span class="fw-semibold text-truncate"
                                          style="max-width:210px;">
                                        @ctx.Item.PageHeading
                                    </span>
                                </div>

                                <!-- Page path -->
                                @if (!string.IsNullOrWhiteSpace(ctx.Item.PagePath))
                                {
                                    <span class="text-muted small text-truncate"
                                          style="max-width:210px;">
                                        @ctx.Item.PagePath
                                    </span>
                                }

                            </div>
                        }
                        else
                        {
                            <span class="text-muted fst-italic small">N/A</span>
                        }

                    </CellTemplate>
                </TemplateColumn> *@


}
