@using MudBlazor
@using MudBlazor.Components
@using ScholarshipManagement.DTOs
@using ScholarshipManagement.DTOs.Common
@using ScholarshipManagement.DTOs.SuperAdmin.Labels
@using ScholarshipManagement.DTOs.SuperAdmin.MasterCountry
@using ScholarshipManagement.Services.Common
@using ScholarshipManagement.Services.SuperAdmin
@inject IJSRuntime JS
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject MasterCountryService MasterCountryService
@inject CommonService CommonService


<MudDialog>
    <DialogContent>
        <!-- ⭐ Paper wrapper -->
        <MudPaper Class="pa-1" Elevation="1">

            @* <MudText Typo="Typo.h5"  Style="margin-bottom:5px;">@Title</MudText> *@

            <MudForm @ref="_form" Model="@Country">

                <MudGrid Spacing="3">

                    <MudItem xs="12" md="6">
                        <MudTextField T="string"
                                      Label="Country Name"
                                      @bind-Value="Country.CountryName"
                                      For="@(() => Country.CountryName)"
                                      Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField T="int"
                                      Label="Country Isd Code"
                                      @bind-Value="Country.CountryIsdCode"
                                      For="@(() => Country.CountryIsdCode)"
                                      Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField T="string"
                                      Label="Country AlphaCode 3"
                                      @bind-Value="Country.CountryAlphaCode3"
                                      For="@(() => Country.CountryAlphaCode3)"
                                      Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>

                    <MudItem xs="12" md="6">
                        <MudTextField T="string"
                                      Label="Currency Name"
                                      @bind-Value="Country.CurrencyName"
                                      For="@(() => Country.CurrencyName)"
                                      Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField T="string"
                                      Label="Currency Fraction Unit"
                                      @bind-Value="Country.CurrencyFracUnit"
                                      For="@(() => Country.CurrencyFracUnit)"
                                      Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField T="string"
                                      Label="Currency Symbol"
                                      @bind-Value="Country.CurrencySymbol"
                                      For="@(() => Country.CurrencySymbol)"
                                      Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField T="string"
                                      Label="Currency Abbreviation"
                                      @bind-Value="Country.CurrencyAbb"
                                      For="@(() => Country.CurrencyAbb)"
                                      Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>

                    <MudItem xs="12"></MudItem>

                    <!-- Active Status -->
                    <MudItem xs="12" md="4">
                        <MudText Typo="Typo.subtitle2">Active Status</MudText>
                        <MudRadioGroup T="bool" @bind-Value="Country.IsActive" Class="d-flex gap-2">
                            <MudRadio Value="true" Color="Color.Primary">Active</MudRadio>
                            <MudRadio Value="false" Color="Color.Default">Inactive</MudRadio>
                        </MudRadioGroup>
                    </MudItem>

                    <!-- ACTION BUTTONS -->
                    <MudItem xs="12">
                        <div class="d-flex justify-end gap-2" style="margin:10px 0;">
                            <button @onclick="Save" class="dialog-btn" type="button">Save</button>
                            <button @onclick="Cancel" class="dialog-btn" type="button">Cancel</button>
                        </div>
                    </MudItem>

                </MudGrid>

            </MudForm>
        </MudPaper>
    </DialogContent>
</MudDialog>


@code {

    [CascadingParameter]
    private IMudDialogInstance DialogReference { get; set; } = default!;

    [Parameter]
    public MasterCountryRequestDto Country { get; set; } = new();

    private string Title = "Add Country";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await InvokeAsync(StateHasChanged);

            if (Country.CountryId is null or 0)
            {
                Title = "Add Country";
                Country.IsActive = true;
            }
            else
            {
                Title = "Edit Country";
            }
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }


    private MudForm? _form;
    private async Task Save()
    {
        try
        {
            await _form!.Validate();

            if (!_form.IsValid)
                return;


            var result = Country.CountryId is null or 0
                ? await MasterCountryService.AddMasterCountry(Country)
				: await MasterCountryService.UpdateMasterCountry(Country);

            // Always show backend message
            Snackbar.Add(
                result.Message,
                result.Success ? Severity.Success : Severity.Error
            );

            // Close dialog only if success
            if (result.Success)
            {
                DialogReference.Close(DialogResult.Ok(result));
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add("Something went wrong while saving. Please try again.", Severity.Error);
            Cancel();
        }
    }



    private void Cancel()
    {
        DialogReference.Cancel();
    }

}
