@page "/student-view/{Id:long}"

@attribute [Authorize]
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using ScholarshipManagement.DTOs
@using ScholarshipManagement.DTOs.Common
@using ScholarshipManagement.DTOs.Ngo
@using ScholarshipManagement.DTOs.School.StudentRequirements
@using ScholarshipManagement.DTOs.School.Students
@using ScholarshipManagement.DTOs.University.CourseRequirement
@using ScholarshipManagement.DTOs.University.MasterDocuments
@using ScholarshipManagement.Helper.Enums
@using ScholarshipManagement.Pages.Common
@using ScholarshipManagement.Pages.Common.Shared
@using ScholarshipManagement.Pages.Ngo
@using ScholarshipManagement.Pages.School.StudentRequirement
@using ScholarshipManagement.Services.Common
@using ScholarshipManagement.Services.Ngo
@using ScholarshipManagement.Services.School
@using ScholarshipManagement.Services.SuperAdmin
@using ScholarshipManagement.Services.University
@using static ScholarshipManagement.Helper.Constant
@inject StudentService StudentService
@inject CurrentUserProfileService CurrentUserProfileService
@inject CourseRequirementService CourseRequirementService
@inject StudentRequirementService StudentRequirementService
@inject PermissionService PermissionService
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject AuthService AuthService
@inject IJSRuntime JS


<style>

    .border-bottom-only {
        box-shadow: none !important; /* remove elevation shadow */
        border-radius: 0; /* optional: flat look */
        border-bottom: 2px solid #e5e7eb; /* light gray divider */
    }

    .approval-action:hover {
        text-decoration: underline;
        opacity: 0.85;
    }

    .clickable-text:hover {
        text-decoration: underline;
        opacity: 0.8;
    }

</style>


<div class="container-fluid p-0" style="width:100%; overflow-x:hidden;">

    <!-- Page Top Section (Header area) -->
    <div style="display: flex; flex-direction: column; align-items: center; align-self: stretch;">

        <!-- Section Title Bar (under Page Top) -->
        <div style="display: flex; height: 64px; justify-content: space-between; align-items: center;
                    align-self: stretch; border-bottom: 1px solid var(--color-border-horizontal-lines, #DBDBDB);
                    background: var(--color-background-main, #FFF);">

            <!-- Left Section (Inside Page Title Bar) -->
            <div style="display: flex; height: 64px; padding: 0 26px; align-items: center;">

                <div style="display: flex; align-items: center;">

                    <MudTooltip Text="Back" Placement="Placement.Bottom">

                        <div class="nav-icon" @onclick="GoBack">
                            <MudIcon Icon="@Icons.Material.Filled.ArrowBackIos" />
                        </div>

                    </MudTooltip>

                    <span class="page-title page-title-uppercase">
                        Student Profile
                    </span>

                </div>

            </div>

            <!-- Right Section (Inside Page Title Bar) -->
            <div style="display: flex; padding: 0 24px; justify-content: flex-end; align-items: center; gap: 14px;">
                <span style="color: var(--color-text-breadcrumbs, #000); font-family: Inter, sans-serif;
                            font-size: 15px; font-style: normal; font-weight: 400; line-height: 20px;
                            text-transform: capitalize; margin-right:25px">
                    @* Total Records : <span id="totalRecords">@TotalRecords</span> *@
                </span>
            </div>

        </div>

    </div>

    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-6 mb-4">

        <MudPaper Class="pa-6" Elevation="2">

            <!-- ================= HEADER ================= -->
            <div class="d-flex align-center justify-space-between mb-4">

                <!-- LEFT SIDE -->
                <div class="d-flex align-center">

                    <MudAvatar Size="Size.Small"
                               Style="width:48px;height:48px; margin-right:15px;">

                        <img src="@(string.IsNullOrWhiteSpace(model.Photo)
                                                                                   ? "/images/male-icon.png"
                                                                                   : model.Photo)"
                             style="width:100%;height:100%;object-fit:cover;" />

                    </MudAvatar>

                    <div>
                        <MudText Typo="Typo.h6">
                            @model.StudentSalutation @model.StudentFirstName @model.StudentLastName
                        </MudText>
                        <MudText Typo="Typo.subtitle2" Class="clickable-text"
                                 Color="Color.Primary"
                                 Style="cursor:pointer; color:1E88E5"
                                 @onclick="() => GoToSchoolProfile(model.SchoolId)">

                            @model.SchoolName - @model.ShortName

                        </MudText>
                    </div>

                </div>

            </div>

            <div style="height:2px; background:#e5e7eb; margin-bottom:5px;"></div>

            <MudDivider Class="mb-4" />



            <MudGrid Spacing="3">

                <!-- ================= BASIC ================= -->
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.h6"
                             Style="font-size:15px; font-weight:600; color:#1E293B;">
                        Basic Information
                    </MudText>
                    <div style="width:60px; height:2px; background:#1E88E5; margin-bottom:3px;"></div>
                    <MudDivider />
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Name:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace($"{model.StudentSalutation} {model.StudentFirstName} {model.StudentLastName}".Trim())
                                                ? "N/A"
                                                : $"{model.StudentSalutation} {model.StudentFirstName} {model.StudentLastName}")
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Student Number:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.StudentNumber) ? "N/A" : model.StudentNumber)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">NIN:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.NIN) ? "N/A" : model.NIN)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">DOB:</span>
                    <span style="color:#64748B;">
                        @(model.DateOfBirth.HasValue
                                                ? model.DateOfBirth.Value.ToString("dd MMM yyyy")
                                                : "N/A")
                    </span>
                </MudItem>

                <MudDivider Class="mb-4" />

                <!-- ================= PERSONAL ================= -->
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.h6"
                             Style="font-size:15px; font-weight:600; color:#1E293B;">
                        Personal Details
                    </MudText>
                    <div style="width:60px; height:2px; background:#1E88E5; margin-bottom:3px;"></div>
                    <MudDivider />
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Nationality:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.Nationality) ? "N/A" : model.Nationality)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Tribe:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.Tribe) ? "N/A" : model.Tribe)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Religion:</span>
                    <span style="color:#64748B;">
                        @(model.Religion != null ? model.Religion.ToString() : "N/A")
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Gender:</span>
                    <span style="color:#64748B;">
                        @(model.Gender == 1 ? "Male" :
                                                model.Gender == 2 ? "Female" :
                                                model.Gender == 3 ? "Other" : "N/A")
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Orphan:</span>
                    <span style="color:#64748B;">
                        @(model.IsOrphan == true ? "Yes" :
                                                model.IsOrphan == false ? "No" : "N/A")
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Orphan Number:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.OrphanNumber) ? "N/A" : model.OrphanNumber)
                    </span>
                </MudItem>


                <MudDivider Class="mb-4" />


                <!-- ================= CONTACT ================= -->
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.h6"
                             Style="font-size:15px; font-weight:600; color:#1E293B;">
                        Contact & Address
                    </MudText>
                    <div style="width:60px; height:2px; background:#1E88E5; margin-bottom:3px;"></div>
                    <MudDivider />
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Address:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.Address) ? "N/A" : model.Address)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">City:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.AddressCity) ? "N/A" : model.AddressCity)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">State:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.MasterState) ? "N/A" : model.MasterState)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Country:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.MasterCountry) ? "N/A" : model.MasterCountry)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Zip:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.ZipCode) ? "N/A" : model.ZipCode)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Mobile:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.MobileNo) ? "N/A" : model.MobileNo)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Email:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.EmailID) ? "N/A" : model.EmailID)
                    </span>
                </MudItem>


                <MudDivider Class="mb-4" />


                <!-- ================= FAMILY ================= -->
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.h6"
                             Style="font-size:15px; font-weight:600; color:#1E293B;">
                        Family Details
                    </MudText>
                    <div style="width:60px; height:2px; background:#1E88E5; margin-bottom:3px;"></div>
                    <MudDivider />
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Father:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.FatherName) ? "N/A" : model.FatherName)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Mother:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.MotherName) ? "N/A" : model.MotherName)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Guardian:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.GuardianName) ? "N/A" : model.GuardianName)
                    </span>
                </MudItem>


                <MudDivider Class="mb-4" />


                <!-- ================= ACADEMIC ================= -->
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.h6"
                             Style="font-size:15px; font-weight:600; color:#1E293B;">
                        Academic Information
                    </MudText>
                    <div style="width:60px; height:2px; background:#1E88E5; margin-bottom:3px;"></div>
                    <MudDivider />
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Graduation Score:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.GraduationScore) ? "N/A" : model.GraduationScore)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Grade:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.Grade) ? "N/A" : model.Grade)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">High School Div:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.HighSchoolDiv) ? "N/A" : model.HighSchoolDiv)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">English Test:</span>
                    <span style="color:#64748B;">
                        @(model.EnglishPlacementTest != null ? model.EnglishPlacementTest.ToString() : "N/A")
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Max Marks:</span>
                    <span style="color:#64748B;">
                        @(model.MaxMarks != null ? model.MaxMarks.ToString() : "N/A")
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Combination:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.TanzComb) ? "N/A" : model.TanzComb)
                    </span>
                </MudItem>


                <MudDivider Class="mb-4" />


                <!-- ================= SOCIAL ================= -->
                <MudItem xs="12" Class="mb-2">
                    <MudText Typo="Typo.h6"
                             Style="font-size:15px; font-weight:600; color:#1E293B;">
                        Social & Behavioral
                    </MudText>
                    <div style="width:60px; height:2px; background:#1E88E5; margin-bottom:3px;"></div>
                    <MudDivider />
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Status:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.SocialEcoStatus) ? "N/A" : model.SocialEcoStatus)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Recommendation:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.RecommendationLetter) ? "N/A" : model.RecommendationLetter)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Letter Path:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.RecommendationLetterPath) ? "N/A" : model.RecommendationLetterPath)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Self Determination:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.SelfDettoSuccess) ? "N/A" : model.SelfDettoSuccess)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Motivation Level:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.MotLevelToOverComedStudying) ? "N/A" : model.MotLevelToOverComedStudying)
                    </span>
                </MudItem>

                <MudItem xs="12" md="4">
                    <span style="color:#334155; font-weight:500;">Future Goals:</span>
                    <span style="color:#64748B;">
                        @(string.IsNullOrWhiteSpace(model.ClearTargetsFutureGoals) ? "N/A" : model.ClearTargetsFutureGoals)
                    </span>
                </MudItem>

                <MudDivider Class="mb-4" />

            </MudGrid>

        </MudPaper>

    </MudContainer>


</div>




@code {


    private MudForm? form;

    private StudentRequestDto model = new();
    private StudentFilterDto Filter = new StudentFilterDto();

    private StaffType? CurrentStaffType;
    bool canView => PermissionService.CanView("course-enrollment") || PermissionService.CanView("enrolled-students") || PermissionService.CanView("students");
    bool canAdd => PermissionService.CanInsert("course-enrollment") || PermissionService.CanInsert("enrolled-students") || PermissionService.CanInsert("students");
    bool canEdit => PermissionService.CanUpdate("course-enrollment") || PermissionService.CanUpdate("enrolled-students") || PermissionService.CanUpdate("students");
    bool canDelete => PermissionService.CanDelete("course-enrollment") || PermissionService.CanDelete("enrolled-students") || PermissionService.CanDelete("students");


    [Parameter]
    public long Id { get; set; }


    protected override async Task OnInitializedAsync()
    {
        if (!canView)
        {
            Navigation.NavigateTo(Routes.Dashboard);
        }

        var user = CurrentUserProfileService.GetCurrentUserProfile();
        CurrentStaffType = user.StaffType;

        if (Id > 0)
        {
            await GetStudentById(Id);
        }

    }



    private async Task GetStudentById(long stdID)
    {
        var result = await StudentService.GetStudentById(stdID);
        if (result.Response.Success)
        {
            model = result.Data;
        }
        else
        {
            Snackbar.Add(result.Response.Message, Severity.Error);
        }

        await InvokeAsync(StateHasChanged);
    }


    private async Task GoBack()
    {
        await JS.InvokeVoidAsync("history.back");
    }



    private void GoToSchoolProfile(long id)
    {
        //Navigation.NavigateTo($"/school/profile/{id}");

        Navigation.NavigateTo(Routes.SchoolProfile.Replace("{Id:long}",id.ToString()));
    }



}
