@page "/currency-conversion"
@page "/currency-conversion/{id:long}"

@attribute [Authorize]
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using ScholarshipManagement.DTOs
@using ScholarshipManagement.DTOs.Common
@using ScholarshipManagement.DTOs.SuperAdmin.CurrencyConversion
@using ScholarshipManagement.DTOs.SuperAdmin.MasterCurrency
@using ScholarshipManagement.Pages.Common
@using ScholarshipManagement.Pages.Common.Shared
@using ScholarshipManagement.Services.Common
@using ScholarshipManagement.Services.SuperAdmin
@using static ScholarshipManagement.Helper.Constant
@inject MasterCurrencyService MasterCurrencyService
@inject CurrencyConversionSerevice CurrencyConversionSerevice
@inject PermissionService PermissionService
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject IJSRuntime JS



<!-- Main Content Wrapper -->
<div class="container-fluid p-0" style="width:100%; overflow-x:hidden;">

    <!-- Page Top Section (Header area) -->
    <div style="display: flex; flex-direction: column; align-items: center; align-self: stretch;">

        <!-- Section Title Bar (under Page Top) -->
        <div style="display: flex; height: 64px; justify-content: space-between; align-items: center;
                    align-self: stretch; border-bottom: 1px solid var(--color-border-horizontal-lines, #DBDBDB);
                    background: var(--color-background-main, #FFF);">

            <!-- Left Section (Inside Page Title Bar) -->
            <div style="display: flex; height: 64px; padding: 0 26px; align-items: center;">

                <div style="display: flex; align-items: center;">

                    @if (Id > 0)
                    {
                        <MudTooltip Text="Back" Placement="Placement.Bottom">

                            <div class="nav-icon" @onclick="GoBack">
                                <MudIcon Icon="@Icons.Material.Filled.ArrowBackIos" />
                            </div>

                        </MudTooltip>
                    }


                    <span class="page-title page-title-uppercase">
                        Currency Conversion
                    </span>
                </div>

            </div>

            <!-- Right Section (Inside Page Title Bar) -->
            <div style="display: flex; padding: 0 24px; justify-content: flex-end; align-items: center; gap: 14px;">
                <span class="meta-text">
                    Total Records : <span id="totalRecords">@TotalRecords</span>
                </span>
            </div>

        </div>

    </div>

    <!-- Search -->
    <div style="margin-top:15px; display: flex; height: 64px; justify-content: space-between; align-items: center;
                    align-self: stretch; background: var(--color-background-main, #FFF); margin-bottom:10px;">

        <!-- Left -->
        <div class="d-flex align-items-center gap-3" style="padding: 0 24px;">

            <!-- Name FILTER -->
            <div class="appbar-search dropdown-filter">

                <label class="filter-label">Currency : </label>

                <MudSelect T="long?"
                           Value="SelectedCurrencyId"
                           ValueChanged="OnCurrencyChanged"
                           Placeholder="Currency"
                           Variant="Variant.Text"
                           Dense="true"
                           DisableUnderline="true"
                           Clearable="true"
                           Class="dropdown-select">

                    @foreach (var c in Currencies)
                    {
                        <MudSelectItem T="long?" Value="@c.CurrencyId">
                            @c.CurrencySymbol @c.CurrencyName (@c.CurrencyCode)
                        </MudSelectItem>
                    }

                </MudSelect>

            </div>


            @* <div class="appbar-search">
                <input type="text" class="search-input" placeholder="Search..."
                       value="@_search" @oninput="e => _search = e.Value?.ToString() ?? string.Empty"
                       @onkeydown="HandleKeyDown" />


                @if (_searchApplied)
                {
                    <button type="button"
                            class="clear-search-btn"
                            @onclick="ClearSearch">
                        ✕
                    </button>
                }
                else
                {
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         stroke-width="1.5" class="search-icon" style="cursor:pointer"
                         @onclick="ApplySearch">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21 21l-4.35-4.35M17 10.5a6.5 6.5 0 1 1-13 0a6.5 6.5 0 0 1 13 0Z" />
                    </svg>
                }
            </div> *@

        </div>


        <!-- Right-->
        <div style="display: flex; padding: 0 24px; justify-content: flex-end; align-items: center; gap: 10px;position: relative;">

            <div style="display: flex; align-items: center; gap: 5px; font-family: Inter, sans-serif; font-size: 13px;">
                @if (canAdd)
                {
                    <button @onclick="AddCurrencyConversion" class="add-btn">Add Currency Conversion</button>
                }
            </div>


            <button class="settings-btn" @onclick="ToggleColumnsPopup" id="toggleBtn">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="settings-icon">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a7.723 7.723 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47 6.47 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z" />
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
            </button>


            @if (showColumnsPopup)
            {
                <div @onclick="ClosePopup"
                     style="position: fixed; inset: 0; background: transparent; z-index: 9999;">
                </div>
            }


            <div id="columnsPopup" style="position: absolute; right: 24px; top: 70px; z-index: 10000;
                              background: #fff; border: 1px solid #dbdbdb; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.08);
                              padding: 12px; width: 280px; font-family: Inter, sans-serif;" hidden="@(!showColumnsPopup)">

                <!-- Header -->
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px;">
                    <div style="font-size: 14px; font-weight: 700; color: #555;">
                        Show/Hide Columns
                    </div>
                    <button @onclick="ToggleColumnsPopup"
                            style="background: none; border: none; color: #555; font-size: 16px; cursor: pointer;">
                        ×
                    </button>
                </div>


                <!-- Checkbox list -->
                <div style="max-height: 300px; overflow-y: auto; padding-right: 6px;">
                    @foreach (var col in allColumns
                                        .Where(c => string.IsNullOrEmpty(columnFilter)
                                        || c.Title.Contains(columnFilter, StringComparison.OrdinalIgnoreCase)))
                    {
                        <div class="checkbox-row">
                            <input type="checkbox"
                                   class="theme-checkbox"
                                   checked="@(col.Hidden == false)"
                                   @onchange="(e) => ToggleColumn(col, (bool)e.Value)" />

                            <label>@col.Title</label>
                        </div>
                    }
                </div>


            </div>


        </div>

    </div>

    @* <MudPaper Class="pa-3 mb-2 d-flex align-center flex-wrap">

        <!-- Title -->
        <span class="page-title">
            <MudIcon Icon="@Icons.Material.Filled.CurrencyExchange" Class="me-1" Size="Size.Small" />
            Latest Rates:
        </span>

        <!-- Rates -->
        <div class="d-flex flex-wrap gap-2">
            @foreach (var rate in LatestRates)
            {
                <MudChip T="string" Color="Color.Primary"
                         Variant="Variant.Outlined"
                         Size="Size.Small">
                    @rate.CurrencySymbol @rate.Rates.ToString("N4")
                </MudChip>
            }
        </div>

    </MudPaper> *@


    <MudPaper Class="pa-4">

        <MudDataGrid T="CurrencyConversionRequestDto" @key="GridKey" RowsPerPage="@PageSize" @ref="dataGrid"
                     ColumnsPanelReordering='true' DragDropColumnReordering='true'
                     Hover="true" Bordered="true" Elevation="2" Loading="_loading"
                     Class="blue-hover-grid" Filterable="true"
                     Items="Items" FixedHeader="true" Height="550px"
                     ColumnResizeMode="ResizeMode.None" Id="myGrid"
                     Selection="DataGridSelection.Single">

            <Columns>


                <TemplateColumn Title="Currency"
                                HeaderClass="fw-bold"
                                Style="min-width:220px"
                                Hideable="true">

                    <CellTemplate Context="ctx">

                        <div class="d-flex align-items-center gap-1 ">

                            <span class="text-primary fw-medium"
                                  style="cursor:pointer;">
                                @ctx.Item.CurrencySymbol @ctx.Item.CurrencyName (@ctx.Item.CurrencyCode)
                            </span>
                        </div>

                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn Title="From Date"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:180px;"
                                CellStyle="width:180px;"
                                Hideable="true">

                    <CellTemplate Context="ctx">
                        @if (ctx.Item.FromDate.HasValue)
                        {
                            <span class="text-muted">
                                @ctx.Item.FromDate.Value.ToString("dd-MM-yyyy")
                            </span>
                        }
                        else
                        {
                            <span class="text-muted fst-italic small">N/A</span>
                        }
                    </CellTemplate>

                </TemplateColumn>

                <TemplateColumn Title="Rate"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:150px;"
                                CellStyle="width:150px;"
                                Hideable="true">

                    <CellTemplate Context="ctx">
                        @if (ctx.Item.Rates > 0)
                        {
                            <span class="text-muted">
                                @ctx.Item.Rates.ToString("N4")
                            </span>
                        }
                        else
                        {
                            <span class="text-muted fst-italic small">N/A</span>
                        }
                    </CellTemplate>

                </TemplateColumn>

                <TemplateColumn Title="Remarks"
                                HeaderClass="fw-bold"
                                Style="min-width:100px"
                                Hideable="true" CellClass="text-center"
                                HeaderStyle="width:100px; min-width:100px; max-width:100px;"
                                CellStyle="width:100px; min-width:100px; max-width:100px;">

                    <CellTemplate Context="ctx">

                        @if (!string.IsNullOrWhiteSpace(ctx.Item.Remarks))
                        {
                            <MudTooltip Text="@ctx.Item.Remarks" Placement="Placement.Top">
                                <MudIcon Icon="@Icons.Material.Filled.Comment"
                                         Color="Color.Info"
                                         Style="cursor:pointer;" />
                            </MudTooltip>
                        }
                        else
                        {
                            <MudTooltip Text="No remarks available" Placement="Placement.Top">
                                <MudIcon Icon="@Icons.Material.Filled.Comment"
                                         Style="color:#c4c4c4; cursor:default;" />
                            </MudTooltip>
                        }

                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn Title="Created Info"
                                HeaderClass="fw-bold"
                                HeaderStyle="width:280px; min-width:230px; max-width:300px;"
                                CellStyle="width:280px; min-width:230px; max-width:300px;"
                                Hideable="true">

                    <CellTemplate Context="ctx">

                        <div class="d-flex flex-column gap-1 small">



                            <!-- Created By -->
                            <MudTooltip Text="Created By">
                                <div class="d-flex align-items-center gap-2 fw-semibold">
                                    <MudIcon Icon="@Icons.Material.Filled.Person"
                                             Style="font-size:15px;"
                                             Color="Color.Primary" />
                                    @ctx.Item.CreatedBy
                                </div>
                            </MudTooltip>



                            <!-- Created Date -->
                            <MudTooltip Text="Created Date">
                                <div class="d-flex align-items-center gap-2 text-muted">
                                    <MudIcon Icon="@Icons.Material.Filled.Schedule"
                                             Style="font-size:15px;" />
                                    @ctx.Item.CreatedDate.ToString("dd MMM yyyy, hh:mm tt")
                                </div>
                            </MudTooltip>

                        </div>

                    </CellTemplate>
                </TemplateColumn>

            </Columns>


            <NoRecordsContent>
                <div class="p-4 d-flex justify-start" style="color:#0080ff; font-weight:600; margin-left:20px;">
                    No data available
                </div>
            </NoRecordsContent>


        </MudDataGrid>

    </MudPaper>


    <!-- 🔹 Pagination -->
    <div class="d-flex align-items-center justify-content-between px-4 mb-3"
         style="height: 50px; background: #fff; margin-top:10px;">

        <!-- Left Side (Empty but keeps even spacing like your layout) -->
        <div style="display: flex; align-items: center; gap: 10px; font-family: Inter, sans-serif; font-size: 13px; margin-right:10px;">
            <label class="me-2">Results per Page:</label>

            <select id="pageSize" class="form-select"
                    style="width: 70px; height: 32px; font-size: 13px; padding: 2px 6px;"
                    @onchange="OnPageSizeChanged">

                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
            </select>
        </div>



        <!-- Center: Custom Pagination (Your Styled UI) -->
        <div class="d-flex align-items-center gap-3">

            <button @onclick="PrevPage" disabled="@IsPrevDisabled" class="pg-btn">◀ PREV</button>

            <span>Page</span>

            <input readonly value="@PageNumber" class="pg-input" />

            <span>of @TotalPages</span>

            <button @onclick="NextPage" disabled="@IsNextDisabled" class="pg-btn">NEXT ▶</button>

        </div>

    </div>

</div>





@code {

    int PageNumber = 1;       // current page
    int PageSize = 25;        // rows per page
    int TotalRecords = 0;     // total records returned by API
    int TotalPages => (int)Math.Ceiling((double)TotalRecords / PageSize); // calculated
    private List<CurrencyConversionRequestDto> Items = new();
    private MudDataGrid<CurrencyConversionRequestDto>? dataGrid;
    private CurrencyConversionFilterDto Filter = new CurrencyConversionFilterDto();


    bool canView => PermissionService.CanView("currencies") || PermissionService.CanView("currency-conversion");
    bool canAdd => PermissionService.CanInsert("currencies") || PermissionService.CanInsert("currency-conversion");
    bool canEdit => PermissionService.CanUpdate("currencies") || PermissionService.CanUpdate("currency-conversion");
    bool canDelete => PermissionService.CanDelete("currencies") || PermissionService.CanDelete("currency-conversion");

    [Parameter]
    public long Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!canView)
        {
            Navigation.NavigateTo(Routes.Dashboard);
        }

        await GetCurrencies();
        await GetLatestRates();

        if (Id > 0)
        {
            SelectedCurrencyId = Id;
            await OnCurrencyChanged(SelectedCurrencyId);
        }
        else
        {
            await LoadData(Filter);
        }
    }


    private List<CurrencyConversionRequestDto> LatestRates = new();
    private async Task GetLatestRates()
    {
        var result = await CurrencyConversionSerevice.GetCurrentCurrencyRate();
		LatestRates = result.Data;
    }


    // global search
    private string _search = "";
    private bool _searchApplied = false;

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ApplySearch();
        }
    }

    private async Task ApplySearch()
    {
        Filter.SearchText = string.IsNullOrWhiteSpace(_search)
            ? null
            : _search.Trim();

        Filter.PageNumber = 1;
        PageNumber = 1;
        _searchApplied = true;

        await LoadData(Filter);
    }

    private async Task ClearSearch()
    {
        _search = string.Empty;
        Filter.SearchText = null;
        Filter.PageNumber = 1;
        PageNumber = 1;
        _searchApplied = false;

        await LoadData(Filter);
    }


    private bool _loading = false;
    private async Task LoadData(CurrencyConversionFilterDto filter)
    {
        try
        {
            _loading = true;                 // start loading
            await InvokeAsync(StateHasChanged); // refresh UI immediately if needed

            var result = await CurrencyConversionSerevice.GetCurrencyConversion(filter);

            if (result.Response.Success)
            {
                // Data already deserialized in service
                Items = result.Data.Items;
                TotalRecords = result.Data.TotalCount;
            }
            else
            {
                // Always show backend message
                Items = result.Data.Items;
                Snackbar.Add(result.Response.Message, Severity.Error);
            }

        }
        finally
        {
            _loading = false;                // finished loading
            await InvokeAsync(StateHasChanged); // update UI
        }
    }

    private int GridKey = 1;
    private async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        if (!int.TryParse(e.Value?.ToString(), out var newSize))
            return;

        PageNumber = 1;
        PageSize = newSize;

        GridKey++;  // <<<<< IMPORTANT (forces new DataGrid instance)

        if (dataGrid is null)
            return;   //  Prevents the crash

        Filter.PageSize = PageSize;
        Filter.PageNumber = PageNumber;
        await LoadData(Filter);

        StateHasChanged();
    }


    // hide / show coloumns
    private bool showColumnsPopup = false;
    private string columnFilter = "";
    private List<Column<CurrencyConversionRequestDto>> allColumns = new();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (dataGrid is null)
                return;   //  Prevents the crash

            allColumns = dataGrid.RenderedColumns.ToList();
            StateHasChanged();
        }
    }

    private void ToggleColumnsPopup()
    {
        showColumnsPopup = !showColumnsPopup;
    }

    private void ClosePopup()
    {
        showColumnsPopup = false;
    }

    private async Task ToggleColumn(Column<CurrencyConversionRequestDto> col, bool makeVisible)
    {
        if (makeVisible)
            await col.ShowAsync();
        else
            await col.HideAsync();

        //col.Hidden = makeVisible;   // sync checkbox state
        StateHasChanged();
    }


    // pagination btn
    bool IsPrevDisabled => PageNumber <= 1;
    private async Task PrevPage()
    {
        if (PageNumber > 1)
        {
            PageNumber--;
            Filter.PageNumber = PageNumber;
            await LoadData(Filter);
        }
    }

    bool IsNextDisabled => PageNumber >= TotalPages;
    private async Task NextPage()
    {
        if (PageNumber < TotalPages)
        {
            PageNumber++;
            Filter.PageNumber = PageNumber;
            await LoadData(Filter);
        }
    }



    private async Task AddCurrencyConversion()
    {
        var parameters = new DialogParameters
        {
            { 
                "Currency", new CurrencyConversionRequestDto(
            ) } // empty model for ADD
        };

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true
        };

        var dialog = await DialogService.ShowAsync<CurrencyConversionDialog>("Add Currency Conversion", parameters, options);

        var result = await dialog.Result;

        // Reload only if Save was successful
        if (result is not null && !result.Canceled)
        {
            PageNumber = 1;
            PageSize = 25;
            var filter = new CurrencyConversionFilterDto();
            if(Id > 0)
            {
                filter.CurrencyId = Id;
            }
            else
            {
                SelectedCurrencyId = null;
            }
            await LoadData(filter);   // your grid reload method
        }
    }


    private List<MasterCurrencyRequestDto> Currencies = new();
    private async Task GetCurrencies()
    {
        var result = await MasterCurrencyService.GetMasterCurrency(new MasterCurrencyFilterDto
        {
            PageNumber = 1,
            PageSize = 0,
            IsActive = true
        });


        if (result.Response.Success)
        {
            Currencies = result.Data.Items;
        }
        else
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
        }
        await InvokeAsync(StateHasChanged);
    }


    private long? SelectedCurrencyId { get; set; } = null;

    private async Task OnCurrencyChanged(long? currencyId)
    {
        SelectedCurrencyId = currencyId;                        
        if (SelectedCurrencyId.HasValue)
        {
            Filter.CurrencyId = SelectedCurrencyId.Value;
            await LoadData(Filter);
        }
        else
        {
            SelectedCurrencyId = null;
            Filter.CurrencyId = null;
            await LoadData(Filter);
        }

    }


    private async Task GoBack()
    {
        await JS.InvokeVoidAsync("history.back");
    }




}
