@page "/university-registration"
@page "/university-update/{Id:long}"

@attribute [Authorize]
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using ScholarshipManagement.DTOs
@using ScholarshipManagement.DTOs.Common
@using ScholarshipManagement.DTOs.SuperAdmin.MasterCountry
@using ScholarshipManagement.DTOs.SuperAdmin.MasterCurrency
@using ScholarshipManagement.DTOs.University.MasterUniversity
@using ScholarshipManagement.Pages.Common
@using ScholarshipManagement.Services.SuperAdmin
@using ScholarshipManagement.Services.University
@using static ScholarshipManagement.Helper.Constant
@inject MasterCurrencyService MasterCurrencyService
@inject UniversityService UniversityService
@inject MasterCountryService MasterCountryService
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject ISnackbar Snackbar

<style>

    .full-height-paper {
        min-height: 100%;
    }

</style>



<div class="container-fluid p-0" style="width:100%; overflow-x:hidden;">

    <!-- Page Top Section (Header area) -->
    <div style="display: flex; flex-direction: column; align-items: center; align-self: stretch;">

        <!-- Section Title Bar (under Page Top) -->
        <div style="display: flex; height: 64px; justify-content: space-between; align-items: center;
                    align-self: stretch; border-bottom: 1px solid var(--color-border-horizontal-lines, #DBDBDB);
                    background: var(--color-background-main, #FFF);">

            <!-- Left Section (Inside Page Title Bar) -->
            <div style="display: flex; height: 64px; padding: 0 26px; align-items: center;">

                <div style="display: flex; align-items: center;">
                    <span class="page-title">
                        @title
                    </span>
                </div>

            </div>

            <!-- Right Section (Inside Page Title Bar) -->
            <div style="display: flex; padding: 0 24px; justify-content: flex-end; align-items: center; gap: 14px;">
                <span style="color: var(--color-text-breadcrumbs, #000); font-family: Inter, sans-serif;
                            font-size: 15px; font-style: normal; font-weight: 400; line-height: 20px;
                            text-transform: capitalize; margin-right:25px">

                </span>
            </div>

        </div>

    </div>

    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <MudForm Model="model" @ref="form" Class="mt-4" Style="margin:30px 0;">
            <MudGrid Spacing="3">

                <MudItem xs="12">
                    <MudPaper Class="pa-4 full-height-paper" Elevation="2">
                        <MudGrid Spacing="2">

                            <MudItem xs="12" md="4">
                                <MudTextField T="string"
                                              Label="University Name"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Required="true"
                                              RequiredError="University Name is required"
                                              @bind-Value="model.UniversityName"
                                              For="@(() => model.UniversityName)" />
                            </MudItem>

                            <MudItem xs="12" md="4">
                                <MudSelect T="long"
                                           Label="Country"
                                           Variant="Variant.Outlined"
                                           Margin="Margin.Dense"
                                           Required="true"
                                           RequiredError="Country is required"
                                           @bind-Value="model.CountryId">

                                    <!-- Default placeholder -->
                                    <MudSelectItem T="long" Value="0">
                                        -- Select Country --
                                    </MudSelectItem>

                                    @foreach (var c in Countries)
                                    {
                                        <MudSelectItem T="long" Value="@(c.CountryId ?? 0)">
                                            @c.CountryName
                                        </MudSelectItem>
                                    }

                                </MudSelect>
                            </MudItem>

                            <MudItem xs="12" md="4">

                                <MudSelect T="long?"
                                           Value="SelectedCurrencyId"
                                           ValueChanged="OnCurrencyChanged"
                                           Label="Default Currency"
                                           Variant="Variant.Outlined"
                                           Margin="Margin.Dense"
                                           Clearable="true">

                                    @foreach (var c in Currencies)
                                    {
                                        <MudSelectItem T="long?" Value="@c.CurrencyId">
                                            @c.CurrencySymbol @c.CurrencyName (@c.CurrencyCode)
                                        </MudSelectItem>
                                    }

                                </MudSelect>
                            </MudItem>


                            <MudItem xs="12">
                                <MudTextField T="string"
                                              Label="Remarks"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Lines="4"
                                              AutoGrow="true"
                                              @bind-Value="model.Remarks"
                                              For="@(() => model.Remarks)" />
                            </MudItem>

                            <!-- Line break + space -->
                            <MudItem xs="12"></MudItem>

                            <MudItem xs="12" md="4">
                                <MudText Typo="Typo.subtitle2">Active Status</MudText>
                                <MudRadioGroup T="bool" @bind-Value="model.IsActive">
                                    <MudRadio T="bool" Value="true" Color="Color.Primary">Active</MudRadio>
                                    <MudRadio T="bool" Value="false" Color="Color.Primary">Inactive</MudRadio>
                                </MudRadioGroup>
                            </MudItem>

                            <MudItem xs="12" md="4">
                                <MudText Typo="Typo.subtitle2">
                                    Approval Status
                                </MudText>

                                <MudRadioGroup T="bool"
                                               @bind-Value="model.IsApproved"
                                               Disabled="true"
                                               Class="mt-1">
                                    <MudRadio T="bool" Value="true" Color="Color.Primary">
                                        Approved
                                    </MudRadio>
                                    <MudRadio T="bool" Value="false" Color="Color.Primary">
                                        Not Approved
                                    </MudRadio>
                                </MudRadioGroup>

                                <MudText Typo="Typo.caption"
                                         Color="Color.Secondary"
                                         Class="mt-1">
                                    Approval is managed by the NGO
                                </MudText>
                            </MudItem>


                            <MudItem xs="12" Class="mt-5">
                                <div class="d-flex justify-end gap-2">
                                    <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="SubmitAsync">Submit</MudButton>
                                    <MudButton Variant="Variant.Filled" Style="background:#BDBDBD; color:#1F1F1F;" OnClick="Cancel">Cancel</MudButton>
                                </div>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>

            </MudGrid>
        </MudForm>
    </MudContainer>

</div>


@code {

    private MudForm? form;
    private UniversityRequestDto model = new();
    private string title = "Add University";

    [Parameter]
    public long Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        model = new UniversityRequestDto();

        if (Id > 0)
        {
            await LoadUniversity(Id);
            title = "Edit University";
			SelectedCurrencyId = model.DefaultCurrencyId;
        }
        else
        {
            title = "Add University";
            model.IsActive = true;
            model.IsApproved = false;
        }

        await GetCountries();
        await GetCurrencies();
    }



    private async Task SubmitAsync()
    {
        if (form is null)
            return;

        await form.Validate();

        if (form.IsValid)
        {

            if (model.CountryId == 0)
            {
                Snackbar.Add("Please select a country", Severity.Warning);
                return;
            }

            model.IsActive = true; // Set active by default on registration

            //var ok = await UniversityService.AddMasterUniversity(model);

            var ok = model.UniversityId is null or 0
                     ? await UniversityService.AddMasterUniversity(model)
                     : await UniversityService.UpdateMasterUniversity(model);


            if (ok.Success)
            {
                Navigation.NavigateTo(Routes.UniversityList);
                Snackbar.Add(ok.Message, Severity.Success);
            }
            else
            {
                Snackbar.Add(ok.Message, Severity.Error);
            }
        }
        else
        {
            Snackbar.Add("Please fix validation errors.", Severity.Error);
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo(Routes.UniversityList);
    }



    private List<MasterCountryRequestDto> Countries = new();
    private async Task GetCountries()
    {
        var result = await MasterCountryService.GetMasterCountry(new MasterCountryFilterDto
        {
            PageNumber = 1,
            PageSize = 0
        }
        );


        if (result.Response.Success)
        {
            Countries = result.Data.Items;
        }
        else
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
        }
        await InvokeAsync(StateHasChanged);
    }


    private bool IsLoading;
    private async Task LoadUniversity(long id)
    {
        IsLoading = true;
        var result = await UniversityService.GetMasterUniversityById(id);

        if (!result.Response.Success)
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
            return;
        }

        if (result.Data == null)
        {
            Snackbar.Add("University not found", Severity.Warning);
            return;
        }

        model = result.Data;
        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }






    private List<MasterCurrencyRequestDto> Currencies = new();
    private async Task GetCurrencies()
    {
        var result = await MasterCurrencyService.GetMasterCurrency(new MasterCurrencyFilterDto
        {
            PageNumber = 1,
            PageSize = 0,
            IsActive = true
        });


        if (result.Response.Success)
        {
            Currencies = result.Data.Items;
        }
        else
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
        }
        await InvokeAsync(StateHasChanged);
    }


    private long? SelectedCurrencyId { get; set; } = null;

    private void OnCurrencyChanged(long? currencyId)
    {
        SelectedCurrencyId = currencyId;
        if (SelectedCurrencyId.HasValue)
        {
            model.DefaultCurrencyId = SelectedCurrencyId.Value;
        }
        else
        {
            SelectedCurrencyId = null;
            model.DefaultCurrencyId = null;
        }

    }




}
