@page "/course"
@page "/course-update/{Id:long}"

@attribute [Authorize]
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using ScholarshipManagement.DTOs
@using ScholarshipManagement.DTOs.Common
@using ScholarshipManagement.DTOs.SuperAdmin.MasterDropdown
@using ScholarshipManagement.DTOs.University.MasterCourse
@using ScholarshipManagement.DTOs.University.MasterCourseType
@using ScholarshipManagement.DTOs.University.MasterUniversity
@using ScholarshipManagement.Helper.Enums
@using ScholarshipManagement.Pages.Common
@using ScholarshipManagement.Services.Common
@using ScholarshipManagement.Services.SuperAdmin
@using ScholarshipManagement.Services.University
@using static ScholarshipManagement.Helper.Constant
@inject CurrentUserProfileService CurrentUserProfileService
@inject MasterDropdownService MasterDropdownService
@inject UniversityService UniversityService
@inject CourseTypeService CourseTypeService
@inject CourseService CourseService
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject AuthService AuthService

<style>

    .full-height-paper {
        min-height: 100%;
    }

</style>


<div class="container-fluid p-0" style="width:100%; overflow-x:hidden;">

    <!-- Page Top Section (Header area) -->
    <div style="display: flex; flex-direction: column; align-items: center; align-self: stretch;">

        <!-- Section Title Bar (under Page Top) -->
        <div style="display: flex; height: 64px; justify-content: space-between; align-items: center;
                    align-self: stretch; border-bottom: 1px solid var(--color-border-horizontal-lines, #DBDBDB);
                    background: var(--color-background-main, #FFF);">

            <!-- Left Section (Inside Page Title Bar) -->
            <div style="display: flex; height: 64px; padding: 0 26px; align-items: center;">

                <MudTooltip Text="Back" Placement="Placement.Bottom">

                    <div class="nav-icon" @onclick="GoBack">
                        <MudIcon Icon="@Icons.Material.Filled.ArrowBackIos" />
                    </div>

                </MudTooltip>

                <div style="display: flex; align-items: center;">
                    <span class="page-title">
                        @title
                    </span>
                </div>

            </div>

            <!-- Right Section (Inside Page Title Bar) -->
            <div style="display: flex; padding: 0 24px; justify-content: flex-end; align-items: center; gap: 14px;">
                <span style="color: var(--color-text-breadcrumbs, #000); font-family: Inter, sans-serif;
                            font-size: 15px; font-style: normal; font-weight: 400; line-height: 20px;
                            text-transform: capitalize; margin-right:25px">
                    <MudChip T="string" Size="Size.Small"
                             Variant="Variant.Outlined"
                             Color="@GetApprovalChipColor(model.ApprovalStatus)"
                             Style="min-width:90px; justify-content:center;">
                        @GetApprovalChipText(model.ApprovalStatus)
                    </MudChip>
                </span>
            </div>

        </div>

    </div>

    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <MudForm Model="model" @ref="form" Class="mt-4" Style="margin:30px 0;">
            <MudGrid Spacing="3">
                <MudItem xs="12">
                    <MudPaper Class="pa-4 full-height-paper" Elevation="2">
                        <MudGrid Spacing="2">


                            @if (CurrentStaffType != StaffType.University)
                            {
                                <MudItem xs="12" md="4">
                                    <MudSelect T="long"
                                               Label="University"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               Required="true"
                                               RequiredError="University is required"
                                               @bind-Value="model.UniversityId"
                                               Disabled="@IsUniversityLocked">

                                        <!-- Default placeholder -->
                                        <MudSelectItem T="long" Value="0">
                                            -- Select University --
                                        </MudSelectItem>

                                        @foreach (var c in Universities)
                                        {
                                            <MudSelectItem T="long" Value="@(c.UniversityId ?? 0)">
                                                @c.UniversityName
                                            </MudSelectItem>
                                        }

                                    </MudSelect>
                                </MudItem>
                            }


                            <MudItem xs="12" md="4">
                                <MudTextField T="string"
                                              Label="Course Name"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Required="true"
                                              RequiredError="Course name is required"
                                              @bind-Value="model.CourseName"
                                              For="@(() => model.CourseName)" />
                            </MudItem>

                            <MudItem xs="12" md="4">
                                <MudTextField T="string"
                                              Label="Course Code"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Required="true"
                                              RequiredError="Course code is required"
                                              @bind-Value="model.CourseCode"
                                              For="@(() => model.CourseCode)" />
                            </MudItem>

                           
                            <MudItem xs="12" md="4">
                                <MudSelect T="long"
                                           Label="Course Type"
                                           Variant="Variant.Outlined"
                                           Margin="Margin.Dense"
                                           Required="true"
                                           RequiredError="Course type is required"
                                           @bind-Value="model.CourseTypeId">

                                    <!-- Default placeholder -->
                                    <MudSelectItem T="long" Value="0">
                                        -- Select Course Type --
                                    </MudSelectItem>

                                    @foreach (var c in CourseTypes)
                                    {
                                        <MudSelectItem T="long" Value="@(c.CourseTypeId ?? 0)">
                                            @c.CourseTypeName
                                        </MudSelectItem>
                                    }

                                </MudSelect>
                            </MudItem>

                            <MudItem xs="12" md="4">
                                <MudTextField T="long?"
                                              Label="Duration"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              @bind-Value="model.Duration"
                                              For="@(() => model.Duration)" />
                            </MudItem>

                            @* <MudItem xs="12" md="4">
                                <MudTextField T="string"
                                              Label="Duration Unit"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              @bind-Value="model.DurationUnit"
                                              For="@(() => model.DurationUnit)" />
                            </MudItem> *@

                            <MudItem xs="12" md="4">
                                <MudSelect T="string"
                                           Label="Duration Unit"
                                           Variant="Variant.Outlined"
                                           Margin="Margin.Dense"
                                           Placeholder="--- Select ---"
                                           @bind-Value="model.DurationUnit"
                                           For="@(() => model.DurationUnit)" Clearable="true">

                                    @foreach (var div in DurationUnit.OrderBy(x => x.UniqueId))
                                    {
                                        <MudSelectItem Value="@div.DisplayText">@div.DisplayText</MudSelectItem>
                                    }

                                </MudSelect>
                            </MudItem>

                            <MudItem xs="12" md="4">
                                <MudTextField T="int?"
                                              Label="No. Of Semester"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              @bind-Value="model.NoSemester"
                                              For="@(() => model.NoSemester)" />
                            </MudItem>

                            <MudItem xs="12" md="8">
                                <MudTextField T="string"
                                              Label="Remarks"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              @bind-Value="model.Remarks"
                                              For="@(() => model.Remarks)" />
                            </MudItem>

                            @if (CurrentStaffType == StaffType.University)
                            {
                                <MudItem xs="12" md="4"></MudItem>

                            }

                            <MudItem xs="12" md="4">
                                <MudText Typo="Typo.subtitle2">Active Status</MudText>
                                <MudRadioGroup T="bool" @bind-Value="model.IsActive">
                                    <MudRadio T="bool" Value="true" Color="Color.Primary">Active</MudRadio>
                                    <MudRadio T="bool" Value="false" Color="Color.Primary">Inactive</MudRadio>
                                </MudRadioGroup>
                            </MudItem>

                            <MudItem xs="12" md="6">

                                <MudText Typo="Typo.subtitle2">
                                    Approval Status
                                </MudText>

                                <MudRadioGroup T="int"
                                               Value="model.ApprovalStatus"
                                               Disabled="true"
                                               Class="mt-1 d-flex gap-3">

                                    <MudRadio T="int" Value="@((int)ApprovalStatus.Pending)" Color="Color.Warning">
                                        Pending
                                    </MudRadio>

                                    <MudRadio T="int" Value="@((int)ApprovalStatus.Approved)" Color="Color.Success">
                                        Approved
                                    </MudRadio>

                                    <MudRadio T="int" Value="@((int)ApprovalStatus.Rejected)" Color="Color.Error">
                                        Rejected
                                    </MudRadio>

                                </MudRadioGroup>

                                @if (CurrentStaffType == StaffType.Ngo || CurrentStaffType == StaffType.SuperAdmin)
                                {
                                    <MudText Typo="Typo.caption" Color="Color.Secondary" Class="mt-1">
                                        This course is pending approval. Use the approval action from list screen.
                                    </MudText>
                                }
                                else
                                {
                                    <MudText Typo="Typo.caption" Color="Color.Secondary" Class="mt-1">
                                        Approval is managed by the NGO
                                    </MudText>
                                }

                            </MudItem>


                            <MudItem xs="12" Class="mt-5">
                                <div class="d-flex justify-end gap-2">
                                    <MudButton Variant="Variant.Filled" Style="background: #1E88E5; color: white;" OnClick="SubmitAsync">Submit</MudButton>
                                    <MudButton Variant="Variant.Filled" Style="background:#BDBDBD; color:#1F1F1F;" OnClick="Cancel">Cancel</MudButton>
                                </div>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudForm>
    </MudContainer>

</div>



@code {

    private MudForm? form;
    private MasterCourseRequestDto model = new();

    [Parameter]
    public long Id { get; set; }
    private string title = "Add Course";

    private StaffType? CurrentStaffType;

    bool IsUniversityLocked = false;

    protected override async Task OnInitializedAsync()
    {
        model = new MasterCourseRequestDto();

        //CurrentStaffType = await AuthService.GetStaffType();

        var user = CurrentUserProfileService.GetCurrentUserProfile();
        CurrentStaffType = user.StaffType;

        if (user.UniversityId.HasValue)
        {
            model.UniversityId = user.UniversityId.Value;
            IsUniversityLocked = true;
        }

        await GetUniversities();
        await GetCourseTypes();
        await GetDurationUnit();

        if (Id > 0)
        {
            await LoadCourse(Id);
            title = "Edit Course";
        }
        else
        {
            model.IsActive = true;
            model.ApprovalStatus = (int)ApprovalStatus.Pending;
            title = "Add Course";
        }
    }


    private async Task SubmitAsync()
    {
        if (form is null)
            return;

        await form.Validate();

        if (form.IsValid)
        {

            if (model.CourseTypeId == 0)
            {
                Snackbar.Add("Please select a course type", Severity.Warning);
                return;
            }
            if (model.UniversityId == 0)
            {
                Snackbar.Add("Please select a university", Severity.Warning);
                return;
            }

            model.IsActive = true; // Set active by default on registration
            // var ok = await CourseService.AddCourse(model);

            var ok = model.CourseId is null or 0
         ? await CourseService.AddCourse(model)
         : await CourseService.UpdateCourse(model);

            if (ok.Success)
            {
                Navigation.NavigateTo(Routes.CourseList);
                Snackbar.Add(ok.Message, Severity.Success);
            }
            else
            {
                Snackbar.Add(ok.Message, Severity.Error);
            }
        }
        else
        {
            Snackbar.Add("Please fix validation errors.", Severity.Error);
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo(Routes.CourseList);
    }


    private List<UniversityRequestDto> Universities = new();
    private async Task GetUniversities()
    {
        var result = await UniversityService.GetMasterUniversity(new UniversityFilterDto
        {
            PageNumber = 1,
            PageSize = 0
        }
        );


        if (result.Response.Success)
        {
            Universities = result.Data.Items;
        }
        else
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
        }
        await InvokeAsync(StateHasChanged);
    }

    private List<CourseTypeRequestDto> CourseTypes = new();
    private async Task GetCourseTypes()
    {
        var result = await CourseTypeService.GetCourseType(new CourseTypeFilterDto
        {
            PageNumber = 1,
            PageSize = 0,
            IsActive = true,
            ApprovalStatus = (int)ApprovalStatus.Approved
        });


        if (result.Response.Success)
        {
            CourseTypes = result.Data.Items;
        }
        else
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
        }
        await InvokeAsync(StateHasChanged);
    }


    private bool IsLoading;
    private async Task LoadCourse(long id)
    {
        IsLoading = true;
        var result = await CourseService.GetCourseById(id);

        if (!result.Response.Success)
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
            return;
        }

        if (result.Data == null)
        {
            Snackbar.Add("Course not found", Severity.Warning);
            return;
        }

        model = result.Data;
        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }



    private Color GetApprovalChipColor(int status)
    {
        return status switch
        {
            (int)ApprovalStatus.Approved => Color.Success,
            (int)ApprovalStatus.Rejected => Color.Error,
            _ => Color.Warning
        };
    }

    private string GetApprovalChipText(int status)
    {
        return status switch
        {
            (int)ApprovalStatus.Approved => "Approved",
            (int)ApprovalStatus.Rejected => "Rejected",
            _ => "Pending"
        };
    }



    private List<MasterDropDownRequestDto> DurationUnit = new();


    private async Task GetDurationUnit()
    {
        var result = await MasterDropdownService.GetMasterDropDown(new MasterDropDownFilterDto
        {
            PageNumber = 1,
            PageSize = 0,
            Status = true,
            ParentId = (long)MainDropdown.DurationUnit
        });


        if (result.Response.Success)
        {
            DurationUnit = result.Data.Items;
        }
        else
        {
            Snackbar.Add(result.Response.Message, Severity.Warning);
        }
        await InvokeAsync(StateHasChanged);
    }


    private void GoBack()
    {
        Navigation.NavigateTo(Routes.CourseList);
    }

}
