@using MudBlazor
@using MudBlazor.Components
@using ScholarshipManagement.DTOs
@using ScholarshipManagement.DTOs.Common
@using ScholarshipManagement.DTOs.School.StudentRequirements
@using ScholarshipManagement.DTOs.SuperAdmin.Labels
@using ScholarshipManagement.DTOs.SuperAdmin.MasterDropdown
@using ScholarshipManagement.DTOs.University.CourseRequirement
@using ScholarshipManagement.Services.Common
@using ScholarshipManagement.Services.School
@using ScholarshipManagement.Services.SuperAdmin
@using ScholarshipManagement.Helper.Enums
@using ScholarshipManagement.Services.University
@inject IJSRuntime JS
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject LabelService LabelService
@inject CommonService CommonService
@inject StudentRequirementService StudentRequirementService


<MudDialog>
    <DialogContent>
        <!-- ⭐ Paper wrapper -->
        <MudPaper Class="pa-1" Elevation="1">

            <MudForm @ref="_form" Model="@StdReq">

                <MudGrid Spacing="3">

                    <MudItem xs="12">
                        <MudSelect T="int?"
                                   @bind-Value="StdReq.DocumentStatus"
                                   Label="Document Status"
                                   Variant="Variant.Outlined"
                                   Margin="Margin.Dense"
                                   Required="true"
                                   RequiredError="Please select document status">

                            <MudSelectItem Value="@((int?)DocumentStatus.Accepted)">Accepted</MudSelectItem>
                            <MudSelectItem Value="@((int?)DocumentStatus.Rejected)">Rejected</MudSelectItem>
                            <MudSelectItem Value="@((int?)DocumentStatus.InProcess)">In Process</MudSelectItem>

                        </MudSelect>
                    </MudItem>


                    <!-- ✅ Show only when accepted -->
                    @if (StdReq.DocumentStatus != (int)DocumentStatus.Rejected && StdReq.DocumentStatus != (int)DocumentStatus.InProcess)
                    {
                        <MudItem xs="12">
                            <MudTextField T="string"
                                          Label="Letter of Acceptance Code"
                                          @bind-Value="StdReq.LetterAccepCode"
                                          Required="true"
                                          RequiredError="Letter of Acceptance Code is required"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense" />
                        </MudItem>
                    }




                    <!-- ✅ Show only when accepted -->
                    @if (StdReq.DocumentStatus == (int)DocumentStatus.Accepted)
                    {
                        <MudItem xs="12">
                            <MudDatePicker @bind-Date="StdReq.SemesterStartDate"
                                           Label="Semester Start Date"
                                           Variant="Variant.Outlined"
                                           Margin="Margin.Dense" IconSize="Size.Small"
                                           DateFormat="dd/MM/yyyy" />
                        </MudItem>


                        <MudItem xs="12">
                            <MudSelect T="int?"
                                       @bind-Value="StdReq.UniAwardingStatus"
                                       Label="Awarding Status"
                                       Variant="Variant.Outlined"
                                       Margin="Margin.Dense">

                                <MudSelectItem Value="@((int?)AwardingStatus.Awarded)">Awarded</MudSelectItem>
                                <MudSelectItem Value="@((int?)AwardingStatus.Rejected)">Rejected</MudSelectItem>
                                <MudSelectItem Value="@((int?)AwardingStatus.InProcess)">In Process</MudSelectItem>

                            </MudSelect>
                        </MudItem>
                    }

                    <!-- ✅ Show only when Rejected -->
                    @if (StdReq.DocumentStatus == (int)DocumentStatus.Rejected)
                    {
                        <MudItem xs="12">
                            <MudTextField T="string"
                                          Label="Reason for Rejection"
                                          @bind-Value="StdReq.ReasonRejection"
                                          Required="true"
                                          RequiredError="Reason for rejection is required"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudTextField T="string"
                                          Label="Missed Documents"
                                          @bind-Value="StdReq.MissedDocuments"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense" />
                        </MudItem>
                    }



                    <!-- ✅ Show only when In Process -->
                    @if (StdReq.DocumentStatus == (int)DocumentStatus.InProcess)
                    {
                        <MudItem xs="12">
                            <MudTextField T="string"
                                          Label="Reason for In Process"
                                          @bind-Value="StdReq.ReasonInProgress"
                                          Required="true"
                                          RequiredError="Reason for in process is required"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense" />
                        </MudItem>
                    }




                    <!-- ACTION BUTTONS -->
                    <MudItem xs="12">
                        <div class="d-flex justify-end gap-2" style="margin:10px 0;">
                            <button @onclick="Save" class="dialog-btn" type="button">Save</button>
                            <button @onclick="Cancel" class="dialog-btn" type="button">Cancel</button>
                        </div>
                    </MudItem>

                </MudGrid>

            </MudForm>

        </MudPaper>

    </DialogContent>
</MudDialog>




@code {

    [CascadingParameter]
    private IMudDialogInstance DialogReference { get; set; } = default!;

    [Parameter]
    public StudentRequirementRequestDto StdReq { get; set; } = new();


    // entity.UniAdmissionStatus = dto.UniAdmissionStatus;

    //         accepted
    //         entity.SemesterStartDate = dto.SemesterStartDate;
    //         entity.LetterAccepCode = dto.LetterAccepCode;
    //         entity.UniAwardingstatus = dto.UniAwardingStatus;
    //         entity.UniAwardingstatusCost = dto.UniAwardingStatusCost;

    //         rejected
    //         entity.ReasonRejection = dto.ReasonRejection;
    //         entity.MissedDocuments = dto.MissedDocuments;

    //         pending
    //         entity.ReasonInProgress = dto.ReasonInProgress;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await StudentRequirementService.GetStudentRequirements(new StudentRequirementFilterDto()
            {
				StudentID = StdReq.StudentID,
				ReqId = StdReq.ReqId
            });


			StdReq = result.Data.Items.FirstOrDefault() ?? new StudentRequirementRequestDto();

            await InvokeAsync(StateHasChanged);
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }


    private MudForm? _form;
    private async Task Save()
    {
        try
        {
            await _form!.Validate();

            if (!_form.IsValid)
                return;


            var result = await StudentRequirementService.UpdateStudentRequirementMapByUniversityAsync(StdReq);


            // Always show backend message
            Snackbar.Add(
                result.Message,
                result.Success ? Severity.Success : Severity.Error
            );

            // Close dialog only if success
            if (result.Success)
            {
                DialogReference.Close(DialogResult.Ok(result));
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add("Something went wrong while saving. Please try again.", Severity.Error);
            Cancel();
        }
    }



    private void Cancel()
    {
        DialogReference.Cancel();
    }

}
